.lobby-row {
  @include flex (row, space-between, stretch);
  @extend .sheet, .clickable;
  height: $lobby-card-height;
  margin:  0 0 $padding-small 0;
  position: relative; //so the ripple doesn't fill the whole page
  text-decoration: none;

  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  
  &:first-child {
    margin-top: $padding-medium;
  }
}

.lobby-image {
  @include flex (column, center, flex-end);
  position: relative; //needed for the ripple positioning
  width: $left-sidebar-width;
  background: black;

  span {
    padding-right: $padding-medium;
    z-index: 1; //on top of the image
  }
}

.lobby-main {
  @include flex (row, space-between, center);
  padding: 0 $padding-medium;
}


.lobby-classes {
  @include flex (row, space-around, center);
}

.lobby-info {
  @include flex (column, space-around, stretch);
  width: $lobby-info-width;
  height: $lobby-info-height;
  margin-left: $padding-small;
}

.lobby-mumble {
  text-align: center;
  padding: 0 $padding-small;
}

.lobby-ruleset {
  text-align:right;
}

.lobby-info-row {
  @include flex (row, flex-start, flex-start);
  height: 50%;
}


.lobby-location {
  height: 100%;
  min-width: 30px;
  //todo: make classes for each flag
  background: {
    image: url(../assets/img/flag-eu.png);
    size: contain;
    repeat: no-repeat;
    position: center;
  }
}