<div class="header-image" ng-style="{'background-image':'url(assets/img/maps/header/' + header.lobbyInformation.map + '.jpg)'}"
  ng-show="header.shouldShowLobbyInformation()">
  <div class="header-text">
    <div class="lobbypage-text">
      <div class="row">
        <md-icon class="big"
          md-svg-src="/assets/img/icons/material/lock-closed-white.svg"
          ng-if="header.lobbyInformation.whitelisted || header.lobbyInformation.password">
          <md-tooltip>Private lobby</md-tooltip>
        </md-icon>
        <span class="lobbypage-map"
              title="{{header.lobbyInformation.map}}">{{header.lobbyInformation.map}}</span>
        <div class="lobbypage-lobby-closed"
          ng-if="header.lobbyInformation.state>=5">
          FINISHED
        </div>
        <div class="lobbypage-lobby-controls"
          ng-if="header.shouldShowLobbyControls()">
          <md-button class="md-raised" ng-click="header.closeLobby()">
            Close lobby
          </md-button>
          <md-button class="md-raised" ng-click="header.resetServer()">
            Reset server
          </md-button>
        </div>
      </div>
      <div class="left">
        <span class="lobbypage-rules">
          <span>
            {{header.lobbyInformation.type}}
          </span>
          <span>
            ,&nbsp;whitelist&nbsp;<whitelist id="header.lobbyInformation.whitelistId" />
          </span>
          <span>
            , {{header.lobbyInformation.league | uppercase}} rules
          </span>
        </span>
        <span class="lobbypage-leader">Leader: {{header.lobbyInformation.leader.name}}</span>
      </div>
      <div class="right">
        <span class="lobbypage-mumble">Mumble {{header.lobbyInformation.mumbleRequired ? '': 'not '}}required</span>
        <span class="lobbypage-region">{{header.lobbyInformation.region.name}}</span>
        <span ng-if="header.lobbyInformation.whitelisted || header.lobbyInformation.password">Private lobby</span>
      </div>
    </div>
  </div>
</div>
<div ng-if="header.shouldShowError()">
  asdfasdf
</div>
<md-progress-linear md-mode="indeterminate"
    ng-if="header.shouldShowProgress()"></md-progress-linear>
