<div id="slots">
  <div ng-repeat="class in lobbyPage.lobbyInformation.classes"
      class="class-row">
    <md-button ng-switch="slot.id"
               ng-repeat="slot in class.slots"
               flex class="slot-button"
               ng-class="slot.id=='' ? 'md-raised' : ''">
      <!--  If slot.id set, show flat button with player info
            If it's not set, show raised button -->
      <div flex class="firefox-bug-container">
        <div ng-switch-when=""></div>
        <div ng-switch-default flex class="slot-info">
          <div flex><span class="slot-playername">{{slot.name}}</span></div>
          <div class="slot-misc">
            <div><span>{{slot.reliability}}%</span><span> reliability</span></div>
            <div flex></div>
            <div><span>{{slot.lobbiesPlayed}}</span><span> lobbies</span></div>
            <div flex></div>
            <div><span>{{slot.hoursPlayed}}</span><span> hours</span></div>
          </div>
        </div>
      </div>
      <img ng-switch-default src="/assets/img/avatar.png" class="slot-avatar">
    </md-button>

    <md-button class="class-button lobby-icon-{{class.classname}}"
               ng-class="class.slots.blu.id=='' || class.slots.red.id=='' ? 'md-raised' : ''">
    </md-button>
  </div>
</div>