<div id="lobby-join-information" class="sheet"
  ng-if="lobbyPage.lobbyJoinInformation.id && lobbyPage.lobbyJoinInformation.id==lobbyPage.lobbyInformation.id">
  <div class="row">
    <md-button ng-click="lobbyPage.joinTF2Server()">Connect to server</md-button>
    <md-button ng-if="!lobbyPage.showConnectString"
      ng-click="lobbyPage.showConnectString=true">
      Show the connect string
    </md-button>
    <span flex ng-if="lobbyPage.showConnectString">
      {{lobbyPage.lobbyJoinInformation.connectString}}
    </span>
    <md-button data-clipboard-text="{{lobbyPage.lobbyJoinInformation.connectString}}" class="clipboard-button">Copy to clipboard</md-button>
  </div>
  <div class="row">
    <md-button ng-click="lobbyPage.joinMumbleServer()">Connect to Mumble</md-button>
    <md-button ng-if="!lobbyPage.showMumbleInformation"
      ng-click="lobbyPage.showMumbleInformation=true">
      Show the connect info
    </md-button>
    <span flex ng-if="lobbyPage.showMumbleInformation">
      {{lobbyPage.lobbyJoinInformation.mumbleInformation}}
    </span>
    <md-button data-clipboard-text="{{lobbyPage.lobbyJoinInformation.mumbleInformation}}" class="clipboard-button">Copy to clipboard</md-button>
  </div>
</div>

<div id="slots"
  ng-show="lobbyPage.shouldShowLobbyInformation()">
  <div class="classes-title">
    <h1>Blu</h1>
    <h1>Red</h1>
  </div>
  <div ng-repeat="class in lobbyPage.lobbyInformation.classes track by class.class" class="class-row">
    <div aria-label="Join {{::team}} {{::class.class | stripSlotNameNumber}}"
         ng-repeat="(team, slot) in {blu: class.blu, red: class.red} track by team"
         ng-click="!slot.filled && lobbyPage.slotClicked(this, $event)"
         ng-class="{'sheet low clickable' : !slot.filled}"
         class="slot-button"
         md-ink-ripple>
      <div ng-if="slot.filled">
        <md-button
           ng-if="$root.userProfile.steamid==slot.player.steamid && lobbyPage.lobbyInformation.state < 5"
           class="leave-slot"
           aria-label="Leave Slot"
           ng-click="lobbyPage.leaveSlot()"
           ><md-icon md-svg-icon="material:clear"></md-icon></md-button>

        <md-menu ng-if="$root.userProfile.steamid !== slot.player.steamid"
                 class="slot-menu">
          <md-button class="more-button"
            aria-label="More"
            ng-click="slot.filled ? $mdOpenMenu($event) : lobbyPage.join(lobbyPage.lobbyInformation.id, team, class.class)">
            <md-icon md-svg-icon="material:more-vert"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="lobbyPage.goToProfile(slot.player.steamid)">
                Steam profile
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="$root.userProfile.steamid==lobbyPage.lobbyInformation.leader.steamid || $root.userProfile.role=='administrator'">
              <md-button ng-click="lobbyPage.kick(slot.player)">
                Kick player from slot
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="$root.userProfile.steamid==lobbyPage.lobbyInformation.leader.steamid || $root.userProfile.role=='administrator'">
              <md-button ng-click="lobbyPage.ban(slot.player)">
                Ban player from lobby
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <md-checkbox
           ng-if="lobbyPage.lobbyInformation.state==2 ||
                 ($root.userProfile.steamid==slot.player.steamid && lobbyPage.lobbyInformation.state==1)"
           ng-class="{'no-click': $root.userProfile.steamid !== slot.player.steamid}"
           ng-checked="slot.ready ||
            (lobbyPage.playerPreReady && $root.userProfile.steamid==slot.player.steamid)"
           ng-click="$root.userProfile.steamid===slot.player.steamid && lobbyPage.preReadyUp()"
           aria-label="Player ready">
        </md-checkbox>
      </div>
      <div flex class="slot-info" ng-if="slot.filled">
        <span class="slot-playername">{{::slot.player.name}}</span>
        <div class="slot-misc">
          <div flex ng-if="!slot.ready && $root.userProfile.steamid==slot.player.steamid && lobbyPage.lobbyInformation.state<4">
            <span>{{lobbyPage.playerPreReady ? 'Ready for ' + (lobbyPage.preReadyUpTimer | secondsToMinutes) : 'Pre-ready up!'}}</span>
          </div>
          <div><span>{{::slot.player.lobbiesPlayed}}</span><span>lobbies</span></div>
        </div>
      </div>
      <img ng-if="slot.filled" ng-src="{{::slot.player.avatar.replace('.jpg', '_medium.jpg') | trusted}}" class="slot-avatar">
      <md-icon
        md-svg-icon="material:lock-closed"
        ng-if="!showPasswordBox && !slot.filled && lobbyPage.lobbyInformation.password">
      </md-icon>
      <md-input-container
        md-no-float
        class="slot-password"
        ng-if="showPasswordBox && !slot.filled && lobbyPage.lobbyInformation.password">
        <input
          placeholder="Password"
          class="slot-password-input"
          ng-blur="lobbyPage.onPasswordInputBlur($parent)"
          ng-model="$parent.slotPassword"
          ng-keydown="lobbyPage.onPasswordInputKeydown($parent, $event)">
      </md-input-container>
    </div>
    <div class="class-button lobby-icon-{{::class.class | stripSlotNameNumber}}">
      <md-tooltip md-direction="bottom">
        {{::class.class | stripSlotNameNumber | capitalize}}
      </md-tooltip>
    </div>
  </div>
</div>
