.settings-section {
  @extend .sheet;
  padding: $padding-medium $padding-big;
  margin-bottom: $padding-medium;

  h1, h2 {
    margin-top: 0;
  }

  .md-button {
    margin: $padding-small 0;
  }

  .md-track-ticks {
    display: none;
  }

  .md-input-container {
    margin: 0;
  }
}