#settings-wrapper {
  //padding: $padding-medium $padding-big $padding-big !important;
}

.settings-section {
  @extend .sheet;
  padding: $padding-medium;
  margin-bottom: $padding-medium;

  h1, h2 {
    margin-top: 0;
  }

  .md-button {
    margin: 0;
  }

  .md-track-ticks {
    display: none;
  }

  p {
    margin: 0;
  }
}