#settings-wrapper {
  //padding: $padding-medium $padding-big $padding-big !important;
}

.settings-section {
  @include flex (column, flex-start, stretch);
  flex-wrap: wrap;
  @extend .sheet;
  padding: 0 $padding-medium $padding-medium!important;
  margin-top: $padding-medium;

  .md-track-ticks {
    display: none;
  }
}