@import "./_theme";

.clearfix {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

.clear-floats {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

//use on an element with an img child
.tinted {
  background: #000;

  img {
    opacity: .8;
  }
}

.fill-width {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.fill-parent {
  @extend .fill-width;
  @extend .fill-height;
}

.fill-height {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.no-animate {
  transition: none !important;
}

//possible button state
.pressed {
  box-shadow: inset rgba(0, 0, 0, 0.258824) 0px 1px 3px 0px;
  background: #f5f5f5;
  opacity: .8;
}

.sheet {
  @extend %md-whiteframe-z2;
  transition: box-shadow .2s ease-out;

  &:not(.flat):hover {
    @extend %md-whiteframe-z3;
  }

  &:not(.flat):focus {
    @extend %md-whiteframe-z3;

    &:after {
      @extend .fill-parent;
      content: '';
      border-radius: 3px;
      box-sizing: border-box;

      // Needed, otherwise in Firefox when clicking on a clickable
      // sheet, 2 clicks are necessary instead of one
      pointer-events: none;
    }
  }

  &.clickable {
    cursor: pointer;
  }

  &.low {
    @extend %md-whiteframe-z1;

    &:not(.flat):hover {
      @extend %md-whiteframe-z2;
    }
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
