span.ng-hide {
  opacity: 0;
  transform: translateY(10px);
}

.lobbycreate-text span {
  transition: all .3s ease-out;
}

.header-image {
  transition: background-image .6s .3s ease-out;
}

.current-lobby {
  transition: all .2s ease-out;
  
  &.ng-hide {
    transform: translateY(-200px);
    opacity: 0;
    display: flex !important;
  }
}