@import "../_variables.scss";
@import "./__helpers.scss";

/* ==================================
      TOOLBAR STEAM LOGIN BUTTON
   ================================== */

.steam-login {
  width: 154px;

  //Don't show text, instead use steam's button
  background: {
    image: url(../assets/img/steam-login-small.png);
    repeat: no-repeat;
    position: center;
  }
}


/* ==================================
          COMMENTBOX TAGS
   ================================== */

#chat .chat-message {

  //In order from low priority to high priority to appear
  $chatBadges: (contributor moderator administrator tf2stadium twitch);

  @each $badge in $chatBadges {
    .md-button.#{$badge}:before {
      content: "";
      width: 18px;
      height: 18px;
      margin-bottom: -5px;
      margin-right: 3px;
      display: inline-block;
      background: {
        size: contain;
        repeat: no-repeat;
        position: center;
        image: url(../assets/img/badges/#{$badge}.png);
      }
    }
  }

  &.super-contributor:before {
    width: 40px;
  }

  &.alert {
    &, span {
      //color: white;
      //background-color: $main-color;
    }
  }
}


/* ==================================
            NOTIFICATIONS
   ================================== */

.notification {
  @include flex (row, center, center);
  width: 100%;
  text-align: center;
  height: 40px;
  margin: 0;

  span {
    width: $content-width;
    margin-right: 350px;
  }
}


/* ==================================
                TOASTS
   ================================== */

.toast {
  @include flex (row, space-between, center);
  height: $toast-height;
  width: 100%;
  max-width: $full-width;
  border-radius: 0;

  // Override some angular positioning (since we're moving the toasts
  // to the bottom of the viewport by ourselves)
  bottom: 0 !important;
  left: 0 !important;

  padding-left: 24px;
  padding-right: 24px;

  margin: 0 auto;
  position: relative;

  button.md-button {
    margin-right: 8px;
  }

  span {
    flex: 1;
    text-align: center;
  }
}


/* ==================================
                OTHERS
   ================================== */

//https://github.com/philipwalton/flexbugs#9-button-elements-cant-be-flex-containers
.firefox-bug-container {
  width: 100%;
  height: 100%;
}