/* ==================================
      CLASS AND JOIN CLASS BUTTONS
   ================================== */

.class-button {
  @include flex(row, space-between, stretch);
  width: $class-button-width;
  min-width: $class-button-width; //override md-button
  min-height: $class-button-height;
  background:{
    size: $class-button-background-width;
    position: center;
    repeat: no-repeat;
  }
  overflow: hidden;
  border-radius: 3px;
  padding: 0;
  margin: 0px;
}

.join-slot {
  min-width: $class-button-width/2;
  min-height: $class-button-height;
  padding: 0;
  margin: 0;
  border-radius: 0;

  span {
    @extend .fill-width;
    height: 10%;
    overflow: hidden;
    transition: height 0.1s ease-out;

    &:before, &:after {
      @extend .fill-parent;
      content: "";
      background:{
        size: $class-button-background-width;
        position: ($class-button-width - $class-button-background-width) / 2
                  ($class-button-height - $class-button-background-height) / 2;
        repeat: no-repeat;
      }
    }
  }

  &:only-child {
    min-width: 50px; //only way for it to work in IE
  }

  &:nth-child(2) {
    span::after{
      background-position: - $class-button-background-width / 2
              ($class-button-height - $class-button-background-height) / 2;
    }
  }

  &:hover > span {
    height: $class-button-height;
  }

  &.blu > span:before {
    background-color: #9cf;
  }

  &.red > span:before {
    background-color: #f99;
  }
}

.slot-button {

}


/* ==================================
      TOOLBAR STEAM LOGIN BUTTON
   ================================== */

.steam-login {
  width: 154px;

  //Don't show text, instead use steam's button
  background: {
    image: url(../assets/img/steam-login-small.png);
    repeat: no-repeat;
    position: center;
  }
  font-size: 0;
}


/* ==================================
          COMMENTBOX TAGS
   ================================== */

#chat .chat-message {

  //In order from low priority to high priority to appear
  $chatBadges: (donator contributor moderator administrator);

  @each $badge in $chatBadges {
    .md-button.#{$badge}:before {
      content: "";
      width: 18px;
      height: 18px;
      margin-bottom: -5px;
      margin-right: 3px;
      display: inline-block;
      background: {
        size: contain;
        repeat: no-repeat;
        position: center;
        image: url(../assets/img/badges/#{$badge}.png);
      }
    }
  }

  &.super-contributor:before {
    width: 40px;
  }

  &.alert {
    &, span {
      //color: white;
      //background-color: $main-color;
    }
  }
}


/* ==================================
            NOTIFICATIONS
   ================================== */

.notification {
  @include flex (row, center, center);
  width: 100%;
  text-align: center;
  height: 40px;
  margin: 0;

  span {
    width: $content-width;
    margin-right: 350px;
  }
}


/* ==================================
            SUBSTITUTES
   ================================== */

.substitute {
  @include flex (row, center, center);
  @extend .sheet, .clickable;
  width: 100%;
  text-align: center;
  height: 40px;
  margin: 0 0 $padding-small;
  padding: $padding-small*.75 0;
  position: relative;

  .icon {
    height: 100%;
    width: 50px;
    background: {
      repeat: no-repeat;
      position: center;
      size: contain;
    }
  }
}

/* ==================================
                TOASTS
   ================================== */

.toast {
  @include flex (row, space-between, center);
  height: $toast-height;
  width: 100%;
  max-width: $full-width;
  transition: all .3s .15s ease-out;
  border-radius: 0;
  font-size: 14px;

  // Override some angular positioning (since we're moving the toasts
  // to the bottom of the viewport by ourselves)
  bottom: 0 !important;
  left: 0 !important;

  padding-left: 24px;
  padding-right: 24px;

  margin: 0 auto;
  position: relative;

  button.md-button {
    margin-right: 8px;
  }

  span {
    flex: 1;
    text-align: center;
  }
}


/* ==================================
                OTHERS
   ================================== */

//https://github.com/philipwalton/flexbugs#9-button-elements-cant-be-flex-containers
.firefox-bug-container {
  width: 100%;
  height: 100%;
}