@import "../_variables.scss";

$themes-list: (
  theme-map: (
    selector:             'default-theme',
    type:                 'light',
    main-color:           $blue-medium,
    secondary-color:      $blue-hard,
    good-color:           #42bd41,
    warn-color:           #D50000,
    body-background:      $white-dirty,
    header-background:    $white-dirty,
    text-color-hard:      $grey-hard,
    text-color-medium:    #666, // $grey-medium,
    text-color-light:     $grey-light,
    shadow-multiplier:    1,
    toast-background:     #323232,
    toast-error-background:  #f77
  ),
  theme-map-dark: (
    selector:             'dark-theme',
    type:                 'dark',
    main-color:           $blue-medium,
    secondary-color:      $blue-hard,
    good-color:           #42bd41,
    warn-color:           #D50000,
    body-background:      $grey-dark,
    header-background:    $grey-dark,
    text-color-hard:      $grey-light,
    text-color-medium:    $grey-medium,
    text-color-light:     $grey-hard,
    shadow-multiplier:    1.7,
    toast-background:     #323232,
    toast-error-background:  #f77
  )
);

$theme: ();

@function themeVar ($varName) {
  @return map-get($theme, $varName);
}

@each $theme-label, $theme2 in $themes-list {
  $theme: $theme2;

  $main-color:            themeVar(main-color);
  $secondary-color:       themeVar(secondary-color);
  $warn-color:            themeVar(warn-color);
  $good-color:          themeVar(good-color);
  $body-color:            themeVar(body-background);
  $sheet-color:           lighten($body-color, 6.5%);
  $hover-color: '';
  @if themeVar(type) == 'light' {
    $hover-color:           lighten($body-color, 3.25%);
  } @else {
    $hover-color:           lighten($sheet-color, 3.25%);
  }
  $header-color:          themeVar(header-background);
  $text-color-hard:       themeVar(text-color-hard);
  $text-color-medium:     themeVar(text-color-medium);
  $text-color-light:      themeVar(text-color-light);
  $toast-color:           themeVar(toast-background);
  $toast-error-color:     themeVar(toast-error-background);
  $shadow-multiplier:     themeVar(shadow-multiplier);

  body.md-menu-#{themeVar(selector)} {
    md-menu-content {
      background-color: $sheet-color;
      color: $text-color-medium;
    }
  }

  #app-container.#{themeVar(selector)} {

    main {
      background: $body-color;
    }

    #main-content {
      background: transparent;
    }

    color: $text-color-medium;

    /*======================================
                  OTHERS
     =======================================*/

    .toast {
      @extend %md-whiteframe-z2;
      border-radius: 0 !important;

      color: $white-dirty;
      background-color: $toast-color;

      &.error {
        background-color: $toast-error-color;
        color: $white;

        .md-button {
          color: $white;
        }
      }
    }

    .sheet {
      background-color: $sheet-color;

      &.clickable:hover {
        background-color: $hover-color;
      }

      &:not(.flat):focus:after {
        border: 2px solid $main-color;
      }
    }

    %md-whiteframe-z1 {
      border-radius: 3px;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14  * $shadow-multiplier),
                  0px 2px 2px  0px rgba(0, 0, 0, 0.098 * $shadow-multiplier),
                  0px 1px 5px  0px rgba(0, 0, 0, 0.084 * $shadow-multiplier);
    }

    %md-whiteframe-z2 {
      border-radius: 3px;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.14  * $shadow-multiplier),
                  0px 4px 5px  0px rgba(0, 0, 0, 0.098 * $shadow-multiplier),
                  0px 1px 10px 0px rgba(0, 0, 0, 0.084 * $shadow-multiplier);
    }

    %md-whiteframe-z3 {
      border-radius: 3px;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.14  * $shadow-multiplier),
                  0px 6px 10px 0px rgba(0, 0, 0, 0.098 * $shadow-multiplier),
                  0px 1px 18px 0px rgba(0, 0, 0, 0.084 * $shadow-multiplier);
    }


    /*======================================
                  INITIALIZING
     =======================================*/

    md-progress-linear {
      .md-bar {
        @if themeVar(type) == 'light' {
          background-color: $main-color;
        } @else {
          background-color: $secondary-color;
        }
      }
    }

    md-content {
      background-color: $sheet-color;
      color: $text-color-medium;
    }

    md-card {
      background-color: initial;
    }

    md-list-item {
      color: $text-color-hard;
    }

    md-tabs .md-tab:not(.md-active) {
      color: $text-color-medium;
    }

    table.md-table {
      color: $text-color-hard;

      td, th, th.md-active, th.md-active md-icon {
        color: $text-color-hard;
      }

      &.md-row-select {
        tbody.md-body {
          > tr.md-row:not([disabled]):hover,
          > tr.md-selected {
            // md-data-table marks this as important also...
            background-color: $hover-color !important;
          }
        }
      }
    }

    md-input-container {
      label {
        color: $text-color-light;
      }

      &.md-input-invalid label {
        color: $warn-color;
      }

      .md-input {
        color: $text-color-hard;
      }
    }

    .md-button {
      color: $text-color-medium;

      &.md-action {
        color: white;
      }
    }

    .md-button.md-primary.md-raised {
      color: $white;
    }

    .md-raised:not([disabled]) {
      background-color: $sheet-color;

      &.md-primary {
        background-color: $main-color;
      }

      &.md-warn {
        background-color: $warn-color;
      }

      &.md-focused, &:hover {
        background-color: $hover-color;
      }
    }

    .md-button.md-raised[disabled] {
      //material-angular likes to add !important clauses
      color: $text-color-light !important;
    }

    md-checkbox .md-icon {
      border-color: $text-color-light;
    }

    md-input-container .md-input {
      border-color: $text-color-light;
    }

    md-input-container.md-input-invalid .md-input {
      border-color: $warn-color;
    }

    md-select md-select-value,
    md-select md-select-value.md-select-placeholder {
      border-color: $text-color-light;
      color: $text-color-light;
    }

    md-radio-button:not(.md-checked) {
      .md-off {
        border-color: $text-color-light;
      }
    }

    /*======================================
                    LAYOUT
     =======================================*/

    #header-toolbar {
      background-color: $sheet-color;
    }

    .toolbar-buttons .md-button {
      color: $text-color-medium;
    }

    #chat {
      background-color: $sheet-color;
    }

    .chat-error {
      color: $warn-color;
    }

    .header-bg-wrapper {
      background-color: $main-color;
    }

    .sidebar-link {
      //Stupid angular-material added an !important clause
      //for ng-disabled buttons that made me did this
      color: $text-color-medium !important;
    }

    .sidebar-link.active {
      color: #fff !important;
      background: $main-color;

      &:hover {
        background: lighten($main-color, 3.25%) !important;
      }
    }


    /*======================================
                  TYPOGRAPHY
     =======================================*/

    h1, h2, h3, h4, h5, h6 {
      color: $text-color-hard;
    }

    .sponsor-tag {
      @if themeVar(type) == 'light' {
        color: $text-color-hard;

        a {
          color: $secondary-color;
        }
      } @else {
        color: $text-color-light;

        a {
          color: $main-color;
        }
      }
    }

    #header-title > span {
      color: $main-color;

      &:nth-child(3) {
        color: $secondary-color;
      }

    }

    .chat-message-time {
      color: $text-color-medium;
    }

    .chat-player-name {
      color: $text-color-hard;
    }

    #chat li {
      color: $text-color-medium;
    }

    .lobby-info-maxplayers {
      color: $text-color-light;
    }

    //LOBBY-ROW

    .lobby-row:hover {
      background-color: $hover-color;
    }

    //LOBBYPAGE

    .lobbypage-lobby-controls .md-button {
      background: white;
      color: $text-color-medium;

      &:hover, &:focus {
        background: #eee;
      }
    }

    .lobbypage-lobby-closed {
      background-color: $main-color;
    }

    #spectators md-list-item {
      background-color: $sheet-color;
    }

    .slot-playername {
      color: $text-color-hard;
    }

    .slot-misc span:nth-child(even) {
      //makes "hours", "reliability"... stand out less
      color: $text-color-light;
    }


    /*======================================
                FIXED COLORS
     =======================================*/

    .steam-button svg {
      fill: #666;
    }

    //LOBBY-LIST

    #filters-checkbox {
      color: white;
    }

    //LOBBYPAGE

    .lobbypage-text, .lobbycreate-text {
      color: white;
    }

    //LOBBY-ROW

    .lobby-image span {
      color: white;
    }

    //LOBBY-CREATE
    .tile-card:hover .tile-image ~ .tile-text {
      color: $main-color;
    }

    .tile-image:after {
      background-color: $sheet-color;
    }

    //SLIDER
    .md-thumb-text {
      color: white;
    }

    //CHECKBOXES
    .md-checked .md-icon:after {
      border-color: $sheet-color !important;
    }

    .slot-requirement-met {
      color: $good-color;
    }

    .slot-requirement-failed {
      color: $warn-color;
    }

    // user-profile
    .karma-good {
      color: $good-color;
    }

    .karma-bad {
      color: $warn-color;
    }
  }
}
