$themes-list: (
  theme-map: (
    selector:             'default-theme',
    type:                 'light',
    main-color:           $blue-medium,
    secondary-color:      $blue-hard,
    body-background:      $white-dirty,
    header-background:    $white-dirty,
    text-color-hard:      $grey-hard,
    text-color-medium:    $grey-medium,
    text-color-light:     $grey-light,
    shadow-multiplier:    1
  ),
  theme-map-dark: (
    selector:             'dark-theme',
    type:                 'dark',
    main-color:           $blue-medium,
    secondary-color:      $blue-hard,
    body-background:      $grey-dark,
    header-background:    $grey-dark,
    text-color-hard:      $grey-light,
    text-color-medium:    $grey-medium,
    text-color-light:     $grey-hard,
    shadow-multiplier:    1.7
  )
);

@function themeVar ($varName) {
  @return map-get($theme, $varName);
}

@each $theme-label, $theme in $themes-list {
  $main-color:            themeVar(main-color);
  $secondary-color:       themeVar(secondary-color);
  $body-color:            themeVar(body-background);
  $sheet-color:           lighten($body-color, 6.5%);
  @if themeVar(type) == 'light' {    
    $hover-color:           lighten($body-color, 3.25%);
  } @else {
    $hover-color:           lighten($sheet-color, 3.25%);
  }
  $header-color:          themeVar(header-background);
  $text-color-hard:       themeVar(text-color-hard);
  $text-color-medium:     themeVar(text-color-medium);
  $text-color-light:      themeVar(text-color-light);
  $shadow-multiplier:     themeVar(shadow-multiplier);


  body.#{themeVar(selector)} {
    
    background: $body-color;
    color: $text-color-medium;


    /*======================================
                  INITIALIZING
     =======================================*/

    md-content {
      background-color: initial;
      color: $text-color-medium;
    }

    md-card {
      background-color: initial;
    }

    md-list-item {
      color: $text-color-hard;
    }

    md-tooltip span {
      color: #ddd;
    }

    md-tabs .md-tab:not(.md-active) {
      color: $text-color-medium;
    }

    md-input-container {
      label {
        color: $text-color-light;
      }

      .md-input {
        color: $text-color-hard;
      }
    }

    .md-button {
      color: $text-color-medium;
    }

    .md-raised:not([disabled]) {
      background-color: $sheet-color;

      &.md-primary {
        background-color: $main-color;
      }

      &.md-focused, &:hover {
        background-color: $hover-color;        
      }
    }

    md-checkbox .md-icon {
      border-color: $text-color-light;
    }

    md-input-container .md-input {
      border-color: $text-color-light;
    }

    md-menu-content {
      background-color: $sheet-color;
    }


    /*======================================
                    LAYOUT
     =======================================*/

    #header-toolbar {
      background-color: $sheet-color;
    }

    #notifications {  
      background-color: $sheet-color;
    }

    .toolbar-buttons .md-button {
      color: $text-color-medium;
    }

    #chat {
      background-color: $sheet-color;
    }

    .header-info {
      background-color: $main-color;
    }

    .sidebar-link.active {
      color: #fff !important;
      background: $main-color;

      &:hover {
        background: lighten($main-color, 3.25%) !important;
      }
    }


    /*======================================
                  TYPOGRAPHY
     =======================================*/

    h1, h2, h3, h4, h5, h6 {
      color: $text-color-hard;
    }

    #header-title > span {
      color: $main-color;
      
      &:nth-child(3) {
        color: $secondary-color;
      }
    }

    .chat-player-name {
      color: $text-color-hard;
    }

    #chat li {
      color: $text-color-medium;
    }

    .lobby-info-maxplayers {
      color: $text-color-light;
    }

    //LOBBY-ROW

    .lobby-row:hover {
      background-color: $hover-color;
    }

    //LOBBYPAGE

    .lobbypage-lobby-controls .md-button {
      background: white;
      color: $text-color-medium;

      &:hover, &:focus {
        background: #eee;
      }
    }

    #spectators md-list-item {
      background-color: $sheet-color;
    }

    .slot-playername {
      color: $text-color-hard;
    }

    .slot-misc span:nth-child(even) {
      //makes "hours", "reliability"... stand out less  
      color: $text-color-light;
    }


    /*======================================
                FIXED COLORS
     =======================================*/

    //LOBBYPAGE

    .lobbypage-text, .lobbycreate-text {
      color: white;
    }

    //LOBBY-ROW

    .lobby-image span {
      color: white;
    }


    /*======================================
                  OTHERS
     =======================================*/

    .toast {
      background-color: $sheet-color;
      color: $text-color-medium;

      &:hover {
        background-color: $hover-color;
      }

      &.error {
        background-color: #f99;
        color: #fff;
      }
    }

    .sheet {
      background-color: $sheet-color;

      &.clickable:hover {
        background-color: $hover-color;
      }
    }

    %md-whiteframe-z1 {
      border-radius: 3px;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14  * $shadow-multiplier),
                  0px 2px 2px  0px rgba(0, 0, 0, 0.098 * $shadow-multiplier),
                  0px 1px 5px  0px rgba(0, 0, 0, 0.084 * $shadow-multiplier); }

    %md-whiteframe-z2 {
      border-radius: 3px;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.14  * $shadow-multiplier),
                  0px 4px 5px  0px rgba(0, 0, 0, 0.098 * $shadow-multiplier),
                  0px 1px 10px 0px rgba(0, 0, 0, 0.084 * $shadow-multiplier); }

    %md-whiteframe-z3 {
      border-radius: 3px;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.14  * $shadow-multiplier),
                  0px 6px 10px 0px rgba(0, 0, 0, 0.098 * $shadow-multiplier),
                  0px 1px 18px 0px rgba(0, 0, 0, 0.084 * $shadow-multiplier); }

  }
}