/* ==================================
                GLOBAL
   ================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

@font-face {
    font-family: KelsonSansLight;
    src: url(/assets/fonts/KelsonSansLight.otf);
}

@font-face {
    font-family: FiraSansLight;
    src: url(/assets/fonts/FiraSansLight.otf);
}

html { 
  font-family: $font-family-text;
  line-height: 1.5;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  font-weight: normal;
}

a {
  color: inherit;
}

.chat-player-name {
  line-height: 1.6;
  text-transform: none;
  font-weight: bold;
  font-size: 13px;
}

#chat .chat-message {
  line-height: 1.6;
  font-size: 13px;
}

.lobby-image {
  font-size: 13px;
}


/* ==================================
            LOBBY LIST
   ================================== */

.lobby-info-maxplayers {
  font-size: .8em;
} 

.lobby-info-row {
  line-height: $lobby-info-height/2;

  &.top {
    font-size: 26px; 
    font-family: $font-family-header;
    font-weight: bold;
  }
}


/* ==================================
            LOBBY PAGE
   ================================== */

.lobbypage-map {
  font-family: $font-family-header;
  font-weight: bold; 
  font-size: 60px;
}

.slot-button {
  font-size: 12px;
  text-transform: none;
}

.slot-playername {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* ==================================
            CREATE PAGE
   ================================== */

.tile-text .title {
  font-family: montserrat;
  font-weight: bold;
  font-size: 20px;
}