.button {
  background: #fff;  
  color: $grey-medium;
  font-weight: bold;
  transition: all .3s ease-out;
}

.button:focus,
.button:hover {
  background: #fff;
  color: $grey-medium;
}

.alert-box {
  height: 40px;
  line-height: 10px;
  background: $main-color;
  border: none;
  margin-bottom: 12px;
    
    &.alert-box.warning {
      background-color: $alert-color;
    }
    
    &:hover {
      color: #fff;
    }
    
    .close {
      opacity: 1;
      color: #fff;
    }
}

.class-button {
  min-width: $width-class-buttons;
  min-height: $height-class-buttons;
  float: left;
  overflow: hidden;
  background-size: $height-class-buttons;
  padding: 0;
  margin: 0 8px 0 0;
  flex: 1;
  
  a:hover {
    span {
      height: $height-class-buttons;
    }
  }
  
 span {
    display: block;
    height: 7px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all 0.1s ease-out;

    &:after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      transition: .2s ease;
      background-size: 50px;
    }
    &:before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      transition: all 0.1s ease-out;
    }
  }
  
  .lobby-icon-join-half {
    float: left;
    width: 50%; 
    
    &.lobby-icon-join-red {  
      span::after{
        background-position: -25px 0;
      }
    }
  }

  .lobby-icon-join-blue {
    span:before {
      background: #9cf;
    }
  }

  .lobby-icon-join-red {
    span:before {
      background: #f99;
    }
  }
  
  .lobby-icon-join {
    display: block;
    height: $height-class-buttons;
    float:left;
    width: 100%;
  }

  .lobby-icon-join-half {
    float: left;
    width: 50%;
  }
}