.class-button {
  min-width: $width-class-buttons;
  max-width: $width-class-buttons;
  min-height: $height-class-buttons;
  overflow: hidden;
  background-size: $height-class-buttons;
  padding: 0;
  @include flex(row, space-between, stretch);
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  margin: 0px;
  
  .md-button {
    min-width: $width-class-buttons/2;
    min-height: $height-class-buttons;
    padding: 0;
    margin: 0;
    background-size: cover;
    border-radius: 0;
    
    &:only-child {
      min-width: 50px; //only way for it to work in IE
    }    
    
    &:nth-child(2) {
      background-position: -$width-class-buttons/2 0;
      
      span::after{
        background-position: -$width-class-buttons/2 0;  
      }
    }
  
    &:hover {
      span {
        height:50px;
      }
    }
  }
  
  span {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    transition: all 0.1s ease-out;
    height: 4px;

    &:after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      transition: .2s ease;
      background-size: $width-class-buttons;
    }
    
    &:before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      transition: all 0.1s ease-out;
    }
  }
  
  .blue {
    span:before {
      background-color: #9cf;
    }
  }
  
  .red {
    span:before {
      background-color: #f99;
    }
  }
}