@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
  font-family: $font-family;
}

.alert-box {
  margin-left: $width-left-sidebar;
}

/* ==================================
                HEADER
   ================================== */

#header-main {
  width: 100%;
  height: $height-header;
  margin-bottom:20px;

  background: url(../assets/img/asset1.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: $shadow-far;

  .columns {
    padding: 0;
    margin: 0;
  }

  #nav-bar {
    height: $height-navbar;
    line-height: 70px;
    background: #fff;
    box-shadow: $shadow-far;

    h1 {
      font-size: 2em;
      color: $grey-medium;
      padding-left: $width-left-sidebar;
      font-family: 'Roboto';
    }

    .button-group {
      padding-right: 120px;
      position: relative;
      //width: $width-chat;

      li {
        @include clickable-close;
        margin: $padding-navbar 3px 0;
        border: $border-grey;
        width: ($width-chat - 121px)/2 - 3px*2; //3 buttons minus the margins
        height: $height-navbar-buttons;
        
        &:first-child {
          margin-left: 0;  
        }
        
        &:last-child {
          margin-right: 0;  
        }
          
        a {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 11px 0;
          font-family: $font-family;
          font-size: .8em;
        }
      }

      #steam-login {
        position: absolute;
        height: 43px;
        width: 114px;
        right: 0;
        top: -$padding-navbar + 3px;

        background:url(../assets/img/steam-login.png);
        box-shadow: none;

        a {
          font-size: 0;
          background: none;
        }
      }
    }
  }

  #notification {
    width: $width-lobby-info;
    position: relative;
    top: 75px;
  }
}

/* ==================================
              CHAT BOX
   ================================== */

#chat {
  background: #ffffff;
  border: border-grey;
  box-shadow: $shadow-close;
  padding: 15px;
  margin-top: -20px -($height-header - $height-navbar - 75px);
  width: $width-chat;

  ul {
    padding:0 0 0.6rem;
    margin:0;
    list-style: none;

    > li {
      padding: 0.1rem 0;
      color: #aaaaaa;
      font-size: 0.8em;

      span {
        font-weight: bold;
        color: #5c5c5c;
      }
    }
  }

  textarea {
    width: 100%;
    height: 50px;
    resize: none;
    box-shadow: $shadow-close-inset;
  }
}

/* ==================================
              MAIN CONTENT
   ================================== */

#content-main {
  width: $width-content;
  padding: 0;
}
