@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
  font-family: $font-family;
  background: #eee;
}

.alert-box {
  margin-left: $width-left-sidebar;
}

/* ==================================
                HEADER
   ================================== */

#header-main {
  width: 100%;
  height: $height-header;
  margin-bottom: 20px;

  background: url(../assets/img/header-bg.jpg);
  background-position: center;
  background-size: cover;  
  
  #header-toolbar {    
    @include flex-centered;
    background-color: $white;
    min-height: $height-navbar;
    
    #header-toolbar-content {
      @include flex-centered;
      width: $full-width;
    }
  } 
  
  .toolbar-button {
    color: #888;
    min-width: 0px; //for consistent spacing between buttons
    padding: 3px 20px;
    margin: 0 2px;
  }
  
  #header-title {
    font-size: 1.5em;
    margin: 0 0 0 $width-left-sidebar;
    font-family: Norwester; //testing
  }
  
  .toolbar-buttons {
    @include flex-row-spaced-end;
  }
}