/*======================================
              FONT SETTINGS
 =======================================*/

$font-family-text:        'Open sans', 'Roboto', sans-serif;
$font-family-header:      'Bitter', sans-serif;


/*======================================
              COLOR SETTINGS
 =======================================*/

$blue-hard:               #4b9cd4;
$blue-medium:             #99ccff;
$blue-light:              #ccccff;

$magenta-medium:          #ff9999;

$grey-dark:               #222222;
$grey-hard:               #666666;
$grey-medium:             #999999;
$grey-light:              #bbbbbb;
$grey-very-light:         #dddddd;

$white:                   #ffffff;
$white-dirty:             #eeeeee;
$hover-white:             #f5f5f5;

$body-bg:                 #eeeeee;


/*======================================
              SIZE SETTINGS
 ======================================= */

//Nav bar
$navbar-padding:          4px;
$navbar-height:           50px;
$navbar-buttons-height:   $navbar-height - $navbar-padding * 2;

//Header
$header-image-height:     140px;
$header-height:           $header-image-height + $navbar-height;
$header-lobbypage-height: 200px;

//Commentbox
$commentbox-top:          75px;
$commentbox-height:       500px;
$commentbox-fontsize:     24px;
$commentbox-lineheight:   18px;

//Class buttons
$class-button-width:      50px;
$class-button-height:     50px;

//icon sizes
$icon-large-dimensions:   50px;
$icon-small-dimensions:   30px;

$full-width:              1200px;
$content-width:           850px;
//$split-width:             20px;
$left-sidebar-width:      175px;
$padding-big:             50px;
$padding-medium:          20px;
$padding-small:           $padding-medium / 2;

$commentbox-width:        $full-width - $content-width;

//Lobby cards
$lobby-card-height:       90px;
$lobby-info-width:        $content-width - $left-sidebar-width;
$lobby-state-width:       $lobby-info-width - ($class-button-width + 8px) * 9 - 32px;
$lobby-info-width:        80px;
$lobby-info-height:       60px;


/*======================================
            FLEXBOX MIXINS
 ======================================= */

@mixin flex ($flex-direction, $justify-content, $align-items) {
  display:                flex;
  flex-direction:         $flex-direction;
  justify-content:        $justify-content;
  align-items:            $align-items;
}


/*======================================
            SCROLLBARS
 ======================================= */

@mixin scrollbars {
  &::-webkit-scrollbar {
    width: 4px !important;
  }
  
  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #ccc !important;
  }
}