body.dark {
  
  md-content {
    background-color: #333;
  }
  
  md-card {
    background-color: #333;
  }
  
  .md-button {
    color: #ccc;
  }
 
  .md-raised, .md-raised {
    background-color: #333;
  
    &:not([disabled]):hover {
      background-color: #444;
    }
  }
  
  md-list-item {
    color: #ccc;
  }

  //LAYOUT
  background: #222;

  #header-toolbar {
    background-color: #333;
  }

  #notifications {  
    background: #333;
  }

  .toolbar-buttons .md-button {
    color: #ccc;
  }

  #chat {
    background-color: #333;
  }

  //TYPOGRAPHY

  #header-title > span {
    color: $main-color;

    &:nth-child(3) {
      color: $secondary-color;
    }
  }

  .chat-player-name {
    color: $grey-light;
  }

  #chat li {
    color: $grey-hard;
  }

  .lobby-row {
    color: $grey-medium;
  }

  .lobby-info-players {
    color: $grey-light;
  }

  .lobby-info-maxplayers {
    color: $grey-hard;
  }

  .lobbypage-text {
    color: white;
  }

  //LOBBY-ROW
  .lobby-row:hover {
    background-color: #444;
  }

  .lobby-image span {
    color: white;
  }


  //LOBBYPAGE
  .lobbypage-text {
    color: white;
  }

  #spectators md-list-item {
    background-color: #333;
  }

  .slot-misc {
    color: $grey-medium;

    //makes "hours", "reliability"... stand out less  
    span:nth-child(even) {
      color: $grey-hard; 
    }
  }

  //OTHERS

  .md-whiteframe-z1,
  .md-whiteframe-z2,
  .md-whiteframe-z3,
  .md-whiteframe-z4,
  .md-whiteframe-z5 {
    background-color: #333;
  }  
}