<!-- The next div is needed to fix a bug regarding flexbox, min-height and IE -->
<div layout="column">
  <div id="chat" layout="column" ng-controller="CommentBoxController as commentBox">
    <md-tabs flex class="chat-tabs" md-selected="commentBox.currentTab" md-stretch-tabs="always">
      <md-tab>
        <md-tab-label>Chat</md-tab-label>
        <md-tab-body>
          <md-content scroll-glue>
            <div ng-repeat="message in commentBox.rooms[0] track by $index"
              class="chat-message">
              <md-menu ng-if="message.player.steamid!=commentBox.rooms[0][$index-1].player.steamid">
                <md-button class="chat-player-name"
                  ng-class="[message.player.tags]"
                  ng-click="$mdOpenMenu($event)"
                  md-menu-origin>
                  {{::message.player.name}}:
                </md-button>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="commentBox.goToProfile(message.player.steamid)">
                      Steam profile
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              <span class="chat-message-text">{{::message.message}}</span>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab ng-if="commentBox.joinedLobby">
        <md-tab-label>Lobby chat</md-tab-label>
        <md-tab-body>
          <md-content scroll-glue>
            <div ng-repeat="message in commentBox.rooms[commentBox.joinedLobby] track by $index"
              class="chat-message">
              <md-menu ng-if="message.player.steamid!=commentBox.rooms[commentBox.joinedLobby][$index-1].player.steamid">
                <md-button class="chat-player-name"
                  ng-class="[message.player.tags]"
                  ng-click="$mdOpenMenu($event)"
                  md-menu-origin>
                  {{::message.player.name}}:
                </md-button>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="commentBox.goToProfile(message.player.steamid)">
                      Steam profile
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              <span class="chat-message-text">{{::message.message}}</span>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
    <md-input-container>
      <label for="chatbox-message">Type your message</label>
      <textarea id="chatbox-message" name="message" ng-keydown="commentBox.sendMessage($event)" ng-model="commentBox.messageBox"></textarea>
    </md-input-container>
  </div>
</div>
