<!-- The next div is needed to fix a bug regarding flexbox, min-height and IE -->
<div layout="column">
  <div id="chat"
       layout="column"
       ng-controller="CommentBoxController as commentBox">
    <md-tabs flex
             class="chat-tabs"
             md-selected="currentTab"
             md-autoselect="true"
             md-enable-disconnect="true"
             md-stretch-tabs="always">
      <md-tab ng-repeat="room in commentBox.rooms | unique:'id'"
              ng-if="room.id > -1">
        <md-tab-label>
          {{room.messages.length > 0
            && room.messages[room.messages.length - 1].id > commentBox.lastSeenIds[room.id]?
          '*' : ''}}
          {{room.id === 0?
             'CHAT' : ((room.joined? 'YOUR':'THIS') + ' Lobby #' + room.id)}}
        </md-tab-label>
        <md-tab-body>
          <md-content scroll-glue>
            <div ng-repeat="message in room.messages track by $index"
                 class="chat-message">
              <span class="chat-message-time"
                    ng-if="message.player.steamid != room.messages[$index-1].player.steamid && $root.currentTimestampsOption !== 'none'">{{message.timestamp | date:($root.currentTimestampsOption === 'hours12'? 'shortTime' : 'H:mm')}}</span>
              <md-menu
                 ng-if="message.player.steamid != room.messages[$index-1].player.steamid">
                <md-button
                   class="chat-player-name"
                   ng-class="[message.player.tags]"
                   ng-click="$mdOpenMenu($event)"
                   md-menu-origin>
                  {{::message.player.name}}:
                </md-button>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button
                       ng-click="commentBox.goToProfile(message.player.steamid)">
                      Steam profile
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              <span class="chat-message-text">{{::message.message}}</span>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>


    </md-tabs>
    <md-input-container
      md-is-error="commentBox.error">
      <label for="chatbox-message">Type your message</label>
      <textarea id="chatbox-message"
        name="message"
        ng-keydown="commentBox.sendMessage($event)"
        ng-model="commentBox.messageBox"
        ng-change="commentBox.checkMessage()"
        md-maxlength="120">
      </textarea>
    </md-input-container>
  </div>
</div>
