@import "../../_variables.scss";
@import "../../main/__helpers.scss";

.about-section {
  @extend .sheet;
  padding: $padding-medium $padding-big;
  margin-bottom: $padding-medium;

  h1 {
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    list-style-position: initial;
    padding-left: 0;
  }
}
