<a md-ink-ripple ng-repeat="lobbyInformation in lobbyList.lobbies track by lobbyInformation.id" class="lobby-row"
  ui-sref="lobby-page({lobbyID : lobbyInformation.id})">
  <div class="lobby-image tinted">
    <!-- todo: make several options for quality (4k, large, small -->
    <img class="fill-parent" ng-src="/assets/img/maps/4k/{{::lobbyInformation.map}}-4k.jpeg">
    <span class="lobby-type">{{::lobbyInformation.type}}</span>
    <span class="lobby-map">{{::lobbyInformation.map}}</span>
  </div>
  <div flex class="lobby-main">
    <div flex class="lobby-classes">
      <div ng-repeat="class in lobbyInformation.classes track by $index"
           class="class-button lobby-icon-{{::class.class}}"
           ng-class="{'sheet' : !class.blu.player || !class.red.player}">
        <md-button ng-repeat="(team, slot) in class"
          ng-if="!slot.player && team!='class'"
          ng-class="['join-slot', team]" ng-click="lobbyList.join(lobbyInformation.id, team, class.class)">
          <md-tooltip>
            Join {{::team}} {{::class.class}} slot
          </md-tooltip>
          <span></span>
        </md-button>
      </div>
    </div>
    <div class="lobby-info">
      <div class="lobby-info-row top">
        <span class="lobby-info-players">{{::lobbyInformation.players}}</span>
        <span class="lobby-info-maxplayers">/{{::lobbyInformation.maxPlayers}}</span>
        <div flex></div>
        <span class="lobby-location flag-{{::lobbyInformation.region}}">
          <md-tooltip md-direction="top">
            Server located in {{::lobbyInformation.serverLocation}}
          </md-tooltip>
        </span>
      </div>
      <div class="lobby-info-row">
        <span ng-if="lobbyInformation.mumbleRequired" class="lobby-mumble">
          <i class="fa fa-microphone"></i>
          <md-tooltip>
            Mumble mandatory
          </md-tooltip>
        </span>
        <span ng-if="!lobbyInformation.mumbleRequired" class="lobby-mumble">
          <i class="fa fa-microphone-slash"></i>
          <md-tooltip>
            Mumble not mandatory
          </md-tooltip>
        </span>
        <span flex class="lobby-ruleset">
          {{::lobbyInformation.rules}}
          <md-tooltip>
            {{::lobbyInformation.rules}} rules and whitelist
          </md-tooltip>
        </span>
      </div>
    </div>
  </div>
</a>
