<a md-ink-ripple
  ng-repeat="lobbyInformation in lobbyList.lobbies | LobbyListSettingsFilter track by lobbyInformation.id"
  class="lobby-row"
  ui-sref="lobby-page({lobbyID: lobbyInformation.id})">
  <div class="lobby-image" ng-style="{'background-image':'url(/assets/img/maps/lobby-row/' + lobbyInformation.map + '.jpg)'}">
    <span class="lobby-type">{{::lobbyInformation.type}}</span>
    <span class="lobby-map">{{::lobbyInformation.map}}</span>
  </div>
  <div flex class="lobby-main">
    <div flex class="lobby-classes">
      <div ng-repeat="class in lobbyInformation.classes track by $index"
        class="flex-max-margin">
        <div class="class-button no-animate lobby-icon-{{::class.class | stripSlotNameNumber}}"
             ng-class="{'sheet' : !class.blu.filled || !class.red.filled}">
          <md-button ng-repeat="(team, slot) in {blu: class.blu, red: class.red} track by team"
            ng-if="!slot.filled && team!='class'"
            ng-class="['join-slot', team]" ng-click="lobbyList.join(lobbyInformation.id, team, class.class, $event)">
            <md-tooltip md-direction="bottom">
              Join {{::team}} {{::class.class | stripSlotNameNumber}} slot
            </md-tooltip>
            <span></span>
          </md-button>
        </div>        
      </div>
    </div>
    <div class="lobby-info">
      <div class="lobby-info-row top">
        <span class="lobby-info-players">{{::lobbyInformation.players}}</span>
        <span class="lobby-info-maxplayers">/{{::lobbyInformation.maxPlayers}}</span>
        <div flex></div>
        <div class="lobby-mumble" ng-class="{'not-required': !lobbyInformation.mumbleRequired}">
          <md-tooltip md-direction="top">
            Mumble mandatory
          </md-tooltip>
        </div>
      </div>
      <div class="lobby-info-row">
        <span></span>
        <span class="lobby-league">
          {{::lobbyInformation.league}}
          <md-tooltip md-direction="bottom">
            {{::lobbyInformation.league | uppercase}} rules and whitelist
          </md-tooltip>
        </span>
      </div>
    </div>
  </div>
</a>
