<div id="subList" ng-controller="SubListController as vm">
  <div class="substitute md-button" md-ink-ripple
       ng-repeat="sub in vm.subList"
       ng-click="lobbyList.join(sub.id, sub.team, sub.class, $event)">
    <div class="icon lobby-icon-{{::sub.class | stripSlotNameNumber}}"></div>
    <span>
      {{sub.region}} {{sub.type}} {{sub.class | stripSlotNameNumber}} needed in {{sub.map}}.
      Mumble {{header.lobbyInformation.mumbleRequired ? '': 'not '}}required
    </span>
    <div class="icon lobby-icon-{{::sub.class | stripSlotNameNumber}}"></div>
  </div>
</div>

<div id="lobby-filters"
     ng-if="lobbyList.shouldShowFilters()"
     ng-controller="SettingsPageController as settings">
  <md-tabs md-stretch-tabs="always" md-dynamic-height="true">
    <md-tab label="{{keyName}}"
            ng-repeat="(keyName, settingsGroup) in settings.sections.filters">
      <md-checkbox
         ng-repeat="(key, field) in settingsGroup track by key"
         ng-model="field.selected"
         aria-label="{{field.name}}"
         ng-change="settings.saveSetting(key, field.selected)">
        <i ng-if="keyName === 'classes'"
           class="filter-icon filter-icon-{{key}}"></i>
        <span ng-if="keyName !== 'classes'">
          {{field.name}}
        </span>
      </md-checkbox>
    </md-tab>
  </md-tabs>
</div>

<div class="lobby-list-empty-state"
     ng-if="filteredLobbies.length === 0"
     ng-controller="LobbyCreateButtonController as lcbc">
  <h1>There are no lobbies up right now</h1>
  <p>Why don't you try changing your filter settings or creating a new one?</p>
  <md-button
     ng-mouseover="lcbc.preloadLobbyCreate()"
     class="md-raised md-primary"
     ui-sref="lobby-create">
    Create a lobby
  </md-button>
</div>

<a md-ink-ripple
   ng-repeat="lobbyInformation in lobbyList.lobbies | LobbyListSettingsFilter as filteredLobbies track by lobbyInformation.id"
   class="lobby-row"
   ui-sref="lobby-page({lobbyID: lobbyInformation.id})">
  <div class="lobby-image" ng-style="{'background-image':'url(/assets/img/maps/lobby-row/' + lobbyInformation.map + '.jpg)'}">
    <span class="lobby-type">{{::lobbyInformation.type}}</span>
    <span class="lobby-map">{{::lobbyInformation.map}}</span>
  </div>
  <div flex class="lobby-main">
    <div flex class="lobby-classes">
      <div ng-repeat="class in lobbyInformation.classes track by $index"
           class="flex-max-margin">
        <div class="class-button no-animate lobby-icon-{{::class.class | stripSlotNameNumber}}"
             ng-class="{'sheet' : !class.blu.filled || !class.red.filled}">
          <md-button ng-repeat="(team, slot) in {blu: class.blu, red: class.red} track by team"
                     ng-if="!slot.filled"
                     ng-class="['join-slot', team]"
                     ng-click="lobbyList.join(lobbyInformation.id, team, class.class, $event)">
            <md-tooltip md-direction="bottom">
              Join {{::team}} {{::class.class | stripSlotNameNumber}} slot
            </md-tooltip>
            <span></span>
          </md-button>
        </div>
      </div>
    </div>
    <div class="lobby-info">
      <div class="lobby-info-row top">
        <span class="lobby-info-players">{{lobbyInformation.players}}</span>
        <span class="lobby-info-maxplayers">/{{::lobbyInformation.maxPlayers}}</span>
        <div flex></div>
        <div class="lobby-mumble" ng-class="{'not-required': !lobbyInformation.mumbleRequired}">
          <md-tooltip md-direction="top">
            Mumble mandatory
          </md-tooltip>
        </div>
      </div>
      <div class="lobby-info-row">
        <span>
          {{::lobbyInformation.region.code}}
          <md-tooltip md-direction="bottom">
            Server located in {{::lobbyInformation.region.name}}
          </md-tooltip>
        </span>
        <span class="lobby-league">
          {{::lobbyInformation.league}}
          <md-tooltip md-direction="bottom">
            {{::lobbyInformation.league | uppercase}} rules and whitelist
          </md-tooltip>
        </span>
      </div>
    </div>
  </div>
</a>
