.lobby-page.header-info {
  height: $header-lobbypage-height;
  background-image: url(../assets/img/maps/4k/cp_process_final-4k.jpeg);
  &:after {
    @extend .fill-parent;
    content: "";
    background: #000;
    opacity: .4;
  }
}

.lobbypage-text {
  @include flex (row, space-between, center);
  flex-wrap: wrap;
  z-index: 1;
  height: 200px;
  padding: 0 $padding-medium;
  color: #fff;
  
  & > div {    
    @include flex (column, space-between, stretch);
    width: 50%;
  }
  
  & > span {
    width: 100%;
  }
  
  .right {
    text-align: right;
  }
}

.lobby-page-content {
  @include flex (row, flex-start, flex-start);
}

#slots {  
  .md-button {
    line-height: normal !important; //otherwise can't multiline inside md-button
    border-radius: 3px; //overriding .class-button .md-button
  }
}

#spectators {
  width: $left-sidebar-width;
  //Substract 5px to the margin-right to compensate for the
  //padding-left 5px in #main-content due to shadow
  margin: $padding-medium $padding-medium - 5px 0 0;
  padding: 0;

  md-list-item {
    background-color: #fff;
  }
}

.class-row {
  @include flex (row, space-between, stretch);
  height: $class-button-height;
  margin: $padding-small 0 0;
  
  &:first-child {
    margin-top: $padding-medium;
  }
  
  //Nesting required
  .class-button {
    margin: 0 $padding-small;
  }
}

.slot-button {
  @include flex (row, space-between, flex-start);
  padding: 0;
  margin: 0;
  height: 100%;

  /*
  Makes the second slot-button created in the html go
  on the right side of the row and reverses the
  layout so the whole row appears symmetrical
  */
  &:nth-child(2) {
    flex-direction: row-reverse;
    order: 3;

    .firefox-bug-container {
      flex-direction: row-reverse;
    }

    .slot-info {
      align-items: flex-start;
    }

    .slot-misc {
      flex-direction: row-reverse;
    }
  }
}

.firefox-bug-container {
  @include flex (row, space-between, stretch);
}

.slot-info {
  @include flex (column, flex-end, flex-end);
  height: 100%;
  margin: 0 $padding-small;
  min-width: 0;
}

.slot-playername {
  min-height: 60%;
  font-size: 22px;
}
.slot-avatar {
  width: auto;
  height: 100%;
  border-radius: 3px;
}

.slot-misc {
  @include flex (row, space-between, flex-end);
  height: 40%;
  width: 100%;
  color: $grey-medium;

  //makes "hours", "reliability"... stand out less
  span:nth-child(even) {
    color: $grey-light; 
  }
}