<div class="settings-section">
  <h1>Theme</h1>
  <md-radio-group ng-model="$root.currentTheme"
                  ng-change="settings.saveSetting('currentTheme', $root.currentTheme)">
    <md-radio-button ng-value="theme.selector"
                     ng-repeat="theme in settings.sections.theme.theme track by theme.selector">
      {{theme.name}}
    </md-radio-button>
  </md-radio-group>
</div>
<div class="settings-section">
  <h1>Animations</h1>
  <md-radio-group
     ng-model="$root.animationLength"
     ng-change="settings.saveSetting('animationLength', $root.animationLength)">
    <md-radio-button
       ng-repeat="(key, opt) in settings.sections.theme.animationOptions track by opt.selector"
       ng-value="opt.selector">
      {{opt.name}}
    </md-radio-button>
  </md-radio-group>
</div>
<div class="settings-section">
  <h1>Chat</h1>
  <h2>Timestamps</h2>
  <md-radio-group
     ng-model="$root.currentTimestampsOption"
     ng-change="settings.saveSetting('timestamps', $root.currentTimestampsOption)">
    <md-radio-button
       ng-repeat="(key, opt) in settings.sections.theme.timestamps track by opt.name"
       ng-value="key">
      {{opt.name}}
    </md-radio-button>
  </md-radio-group>
</div>
