<div  class="settings-section">
  <h1>Notification volume</h1>
  <p>This sound applies to all sound notifications. If you set it to 0, you won't hear any of them.
    We recommend you enable this to avoid losing your slot when the lobby begins.</p>
  <md-slider
     md-discrete
     ng-model="settings.soundVolume"
     step="1"
     min="0"
     max="100"
     aria-label="notificaiton volume"
     ng-change="settings.saveSetting('soundVolume', settings.soundVolume)">
  </md-slider>
</div>
<div class="settings-section">
  <h1>Notification Sounds</h1>
  <md-input-container
    md-no-float>
    <md-select
      placeholder="Sound Pack"
      ng-model="settings.soundPack"
      ng-change="settings.saveSetting('soundPack', settings.soundPack)">
      <md-option
        ng-repeat="(_, name) in settings.availableSoundPacks"
        ng-value="name"
        ng-bind="name"></md-option>
    </md-select>
  </md-input-container><br>
  <md-button
     class="md-raised md-primary"
     ng-click="settings.playSoundSample()">
    Test sound
  </md-button>
</div>
