<div class="settings-section">
  <h1>Theme</h1>
  <md-radio-group ng-model="$root.currentTheme"
                  ng-change="settings.saveSetting('currentTheme', $root.currentTheme)">
    <md-radio-button ng-value="theme.selector"
                     ng-repeat="theme in settings.sections.theme.theme track by theme.selector">
      {{theme.name}}
    </md-radio-button>
  </md-radio-group>
</div>
<div class="settings-section">
  <h1>UI Animations</h1>
  <md-radio-group
     ng-model="settings.animationLength"
     ng-change="settings.saveSetting('animationLength', settings.animationLength)">
    <md-radio-button
       ng-repeat="(key, opt) in settings.sections.theme.animationOptions track by opt.selector"
       ng-value="opt.selector">
      {{opt.name}}
    </md-radio-button>
  </md-radio-group>

  <h2>Animated Header</h2>
  <md-radio-group
     ng-model="settings.videoBackground"
     ng-change="settings.saveSetting('videoBackground', settings.videoBackground)">
    <md-radio-button
       ng-repeat="(key, opt) in settings.sections.theme.videoBackground track by opt.value"
       ng-value="opt.value">
      {{opt.name}}
    </md-radio-button>
  </md-radio-group>
</div>
