<div  class="settings-section">
  <h1>Notification volume</h1>
  <p>This sound applies to all sound notifications. If you set it to 0, you won't hear any of them.
    We recommend you enable this to avoid losing your slot when the lobby begins.</p>
  <md-slider md-discrete
    ng-model="settings.soundVolume"
    step="1" min="0" max="100"
    ng-change="settings.saveSetting('soundVolume', settings.soundVolume)">
  </md-slider>
  <md-button
     class="md-raised md-primary"
     ng-click="settings.playSoundSample()">
    Test sound
  </md-button>
</div>
