<div class="settings-section">
  <h1>Site alias</h1>
  <p>Set a name that will be displayed on the site instead of your steam one.</p>
  <form name="siteAliasForm">
    <md-input-container md-no-float>
      <input name="siteAlias"
             ng-model="settings.siteAlias"
             md-maxlength="32"
             maxlength="64"
             placeholder="Alias"
             required>
    </md-input-container>
    <md-button
       class="md-raised md-primary"
       ng-disabled="siteAliasForm.$invalid || (settings.originalSettings && settings.siteAlias === settings.originalSettings.siteAlias)"
       ng-click="settings.saveSetting('siteAlias', settings.siteAlias)">
      Save
    </md-button>
  </form>
</div>
<div class="settings-section">
  <h1>Twitch</h1>
  <p>Connect with Twitch to join subscriber-restricted lobbies.</p>

  <md-button
     ng-if="$root.userProfile.twitchName"
     class="md-raised md-primary"
     ng-click="settings.twitchLogout()">
    Disconnect Twitch
  </md-button>

  <a ng-href="{{::config.endpoints.api}}/startTwitchLogin"
     ng-if="!$root.userProfile.twitchName"
     class="twitch-login">
    <img src="/assets/img/twitch-login.png"
         alt="Connect With Twitch"
         width="170"
         height="32" />
  </a>
  <md-button
    ng-if="$root.userProfile.twitchName"
    class="md-raised md-primary"
    ng-click="settings.enableTwitchBot()">
    Enable Twitch Bot
  </md-button>
  <md-button
    ng-if="$root.userProfile.twitchName"
    class="md-raised md-primary"
    ng-click="settings.disableTwitchBot()">
    Disable Twitch Bot
  </md-button>
</div>
<div class="settings-section">
  <h1>Reset Mumble Password</h1>
  <md-button
    class="md-raised md-primary"
    ng-click="settings.resetMumblePassword()">
    Reset
  </md-button>
</div>
<div class="settings-section">
  <h1>Account</h1>
  <p>You can logout here.</p>
  <md-button
     class="md-raised md-primary"
     ng-click="settings.logout()">
    Logout
  </md-button>
</div>
