<md-content id="settings" class="md-whiteframe-z2" ng-init="userSettings = settings.userSettings">
  <h1>Regions</h1>
  <div class="settings-section">
    <md-checkbox ng-repeat="region in userSettings.regions track by $index"
               ng-model="userSettings.regions[$index].selected"
               aria-label="{{region}}">
      {{region.name}}
    </md-checkbox>
  </div>
  <code style="display: block; padding: 8px;">{{userSettings.regions | json}}</code>

  <h1>Formats</h1>
  <div class="settings-section">
    <md-checkbox ng-repeat="format in userSettings.formats track by $index"
                 ng-model="userSettings.formats[$index].selected"
                 aria-label="{{format}}">
      {{format.name}}
    </md-checkbox>
  </div>
  <code style="display: block; padding: 8px;">{{userSettings.formats | json}}</code>
  
  <h1>Gamemodes</h1>
  <div class="settings-section">
    <md-checkbox ng-repeat="gamemode in userSettings.gamemodes track by $index"
                 ng-model="userSettings.gamemodes[$index].selected"
                 aria-label="{{gamemode}}">
      {{gamemode.name}}
    </md-checkbox>
  </div>
  <code style="display: block; padding: 8px;">{{userSettings.gamemodes | json}}</code>
  
  <h1>Mumble</h1>
  <div class="settings-section">
    <md-checkbox ng-model="userSettings.mumbleRequiredOnly">
      Mumble required
    </md-checkbox>
  </div>
  <code style="display: block; padding: 8px;">{{userSettings.mumbleRequiredOnly | json}}</code>
  
  <h1>Volume</h1>
    <md-slider md-discrete ng-model="userSettings.volume" step="1" min="1" max="100">
    </md-slider>
  <code style="display: block; padding: 8px;">{{userSettings.volume | json}}</code>
</md-content>