<div id="settings-wrapper">
  <div class="settings-section">
    <h1>Theme</h1>
    <md-radio-group ng-model="$root.currentTheme"
                    ng-change="settings.saveSetting('currentTheme', $root.currentTheme)">
      <md-radio-button  ng-value="theme.selector"
                        ng-repeat="theme in settings.themesList track by theme.selector">
        {{theme.name}}
      </md-radio-button>
    </md-radio-group>
  </div>
  <div  class="settings-section"
        ng-repeat="(keyName, settingsGroup) in settings.settingsList">
    <h1>{{keyName | capitalize}}</h1>
    <md-checkbox  ng-repeat="field in settingsGroup track by field.id"
                  ng-model="field.selected"
                  aria-label="{{field}}"
                  ng-change="settings.saveSetting(field.id, field.selected)">
      {{field.name}}
    </md-checkbox>
  </div>
</div>
