#lobby-list {
  
  margin-right: 20px;
  @include flex-column-start-stretch;

  .lobby {
    height: 90px;
    margin: 0 0 12px;
    color: $grey-medium;
    @include flex-row-spaced-stretch;
    cursor: pointer;
    
    transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    
    &:hover {
      background-color: #f5f5f5;
    }
    
    &[md-ink-ripple] {
      position: relative; //so the ripple doesn't fill the whole page
    }

    .lobby-image {
      width: $width-left-sidebar;
      background: url(../assets/img/cp_process.jpg);
      background-size: cover;
      position: relative;
      
      @include flex-column-centered-end;
      text-align: right;

      span {
        margin: 0;
        padding-right: 20px;
        font-size: 1.3em;
        color: #fff;
        line-height: 1.1em;
        text-shadow: 0 0 1px $grey-medium;
        z-index: 2;
      }
      
      .black-tint {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: #000;
        opacity: .3;
        z-index: 1;
      }
    }

    .lobby-main {
      @include flex-row-spaced-centered;      
      width: $width-lobby-info; 
      padding: 0 20px;
      
      .lobby-classes {
        @include flex-row-spaced-centered;
        list-style: none;
      }

      .lobby-info {
        @include flex-column-centered-end;
        font-size: 1em;
        margin-left: 10px;
      }
      
      .lobby-players {
        width: 50px;
        font-size: .9em;
        span {
          font-size: 3em;
          letter-spacing: -.2em;
          margin-right: 5px;
        }
      }
      
      .lobby-location {
        background: url(../assets/img/flag-eu.png);
        width: 25px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}