#lobby-list {

  .lobby {
    width: 100%;
    height: 90px;
    margin: 0 0 10px;
    background: #fff;
    border: 1px solid $grey-light;
    box-shadow: 3px 3px 3px $grey-light;
    color: $grey-medium;

    .lobby-image {
      height: 100%;
      width: 175px;
      background: $main-color;
      background: url(../assets/img/header-bg.jpg);
      background-size: cover;

      span {
        float:right;
        display: block;
        clear:right;

        font-size: 1.1em;
        color: #fff;
        line-height: 1.1em;
        text-shadow: 0 0 1px $grey-medium;
      }

      span:first-child {
        margin-top: 40px;
      }
    }

    .lobby-info {
      height: 100%;
      width: 652px;
      padding: 0 .5em;

      .lobby-classes {
        float: left;
        list-style: none;
        padding: 0;
        margin: 20px 0 0;

        li {
          width: 50px;
          height: 50px;
          float: left;
          border: 1px solid $grey-light;
          box-shadow: 1px 1px 3px $grey-light;
          margin-right: 4px;
          background-size: contain;
          overflow: hidden;

          a {
            span {
              display: block;
              width: 100%;
              height: 100%;
              position: relative;
              top: 50px;
              opacity: 0.7;

              transition: .2s ease;
            }

            &:hover {
              span {
                top: 0;
              }
            }
          }

          .lobby-icon-join {
            display: block;
            height: 48px;
            float:left;
            width: 100%;
          }

          .lobby-icon-join-half {
            float: left;
            width: 50%;
          }

          .lobby-icon-join-blue {
            border-bottom: 3px solid #2b55b7;

            span {
              background: #2b55b7;
            }
          }

          .lobby-icon-join-red {
            border-bottom: 3px solid #B60D0D;

            span {
              background: #B60D0D;
            }
          }


          &.lobby-icon-scout {
            background-image:url(../assets/img/class/classicon-scout.png);
          }

          &.lobby-icon-soldier {
            background-image:url(../assets/img/class/classicon-soldier.png);
          }

          &.lobby-icon-pyro {
            background-image:url(../assets/img/class/classicon-pyro.png);
          }

          &.lobby-icon-demoman {
            background-image:url(../assets/img/class/classicon-demoman.png);
          }

          &.lobby-icon-heavy {
            background-image:url(../assets/img/class/classicon-heavy.png);
          }

          &.lobby-icon-engineer {
            background-image:url(../assets/img/class/classicon-engineer.png);
          }

          &.lobby-icon-medic {
            background-image:url(../assets/img/class/classicon-medic.png);
          }

          &.lobby-icon-sniper {
            background-image:url(../assets/img/class/classicon-sniper.png);
          }

          &.lobby-icon-spy {
            background-image:url(../assets/img/class/classicon-spy.png);
          }

          &:last-child {
            margin: 0;
          }
        }

        li:last-child {
          margin: 0;
        }
      }

      .lobby-state {
        float:left;
        width: 145px;


        .lobby-players {
          display: block;
          float:left;
          font-size: 1.3em;
          margin-left: 15px;
          padding-top:20px;
          span {
            font-size: 1.6em;
            letter-spacing: -.1em;
          }
        }

        .lobby-mumble {
          float: right;
          margin-top: 20px;

          i {
            padding-left: 3px;
          }
        }

        .lobby-mumble.lobby-mumble-not-required {

          i {
            color:#760000;
          }
        }

        .lobby-friends {
          float: right;
          clear: right;
        }
      }

    }
  }

  > ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    li.lobby {
      display: block;
      width: 100%;
      height: 100px;

      background: $white;
      border: 1px solid $grey-light;
      box-shadow: 3px 3px 3px $grey-light;
    }
  }
}