.user-profile {
  .avatar {
    $avatar-vertical-offset: -50px;

    float: left;
    margin-top: $avatar-vertical-offset;
    margin-right: $padding-medium;
    margin-bottom: $padding-medium;

    &, img, div {
      width: 200px;
      height: 200px;
    }

    div {
      position: absolute;
      top: $avatar-vertical-offset;

      background-image: url(/assets/img/logos/steam-cover.svg);
      background-size: 100% 100%;
      background-position: 0 0;
      background-repeat: no-repeat;

      transition: 0.25s;
      transition-property: opacity;
      transition-timing-function: ease-in-out;

      opacity: 0;

      &:hover,
      &.focused {
        opacity: 0.8;
      }
    }
  }

  .badge {
    height: 50px;
    width: 50px;
    vertical-align: top;
  }

  h1.player-name {
    line-neight: 1em;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  p {
    margin-top: 0;
  }

  ul.external-links,
  ul.badges {
    @include flex (row, space-around, center);
    flex-wrap: nowrap;

    &.badges {
      justify-content: flex-start;
    }

    margin: 0;
    padding: 0;

    li {
      display: inline;
      vertical-align: middle;

      .logo {
        vertical-align: middle;
      }

      md-icon.logo {
        color: inherit;

        &.logo-logstf {
          height: 32px;
          width: auto;
        }

        svg {
          fill: currentColor;

          // md-icon by default sets width="100%" on the svg
          // element; making logos way wider than they need to be when
          // in a flexbox.
          width: auto;
        }
      }

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.profile-sheet {
  @extend .sheet;
  padding: $padding-medium 70px;

  margin-top: $padding-medium;

  h1, h2 {
    margin: 0;
  }

  h1 {
    &.lobbies-played {
      float: left;
    }

    &.karma {
      float: right;
//      float: left;
      ~ .karma {
        margin-left: $padding-big;
      }
    }
  }

  .karma {
    float: right;
    h1 {
      text-align: right;
    }

    h2 {
      margin-left: $padding-medium;
      float: right;
    }
  }

  p {
    word-break: break-all;
  }
}

ul.lobby-types,
ul.class-types {
  @include flex (row, space-between, center);
  flex-wrap: nowrap;

  margin-top: 0;
  padding: 0;

  font-size: 20px;

  margin-top: $padding-small;
  margin-bottom: 0;

  li {
    display: inline;
  }

  img.icon {
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
  }

  .format {
    font-size: 1.3em;
    font-weight: bold;
    vertical-align: middle;
  }
}

ul.lobby-types {
  padding: 0 $padding-big;
}

md-tooltip.karma-tooltip {
  font-size: 20px;
}