<md-dialog>
  <md-dialog-content>
    <div>
      <md-progress-linear
         md-mode="determinate"
         value="{{dialog.percentage}}"></md-progress-linear>
      <h2 class="text-center">Are you ready?</h2>
        The lobby is about to start, please confirm that you're ready to play.
    </div>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="dialog.cancel()">
      I can't play right now
    </md-button>
    <md-button class="md-raised md-primary" ng-click="dialog.accept()" >
      I'm ready!
    </md-button>
  </div>
</md-dialog>
