(function() {
  'use strict';

  angular.module('tf2stadium').constant("Config", {
    'endpoints': {
      'websocket': 'ws://websocket-dev.tf2stadium.com/websocket/',
      'api': 'http://api-dev.tf2stadium.com'
    },
    'debug': true
  });

})();