<section id="lobby-list">
  <md-card md-ink-ripple class="lobby md-whiteframe-z2 md-clickable">
    <div class="lobby-image">
      <div class="black-tint"></div>
      <span class="lobby-type">hl</span>
      <span class="lobby-map">cp_process</span>
    </div>
    <div flex class="lobby-main">
      <div flex class="lobby-classes">
        <div flex>
          <md-button flex class="md-raised class-button lobby-icon-scout">
            <a href="#" class="lobby-icon-join-blue lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
            <a href="#" class="lobby-icon-join-red lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
          </md-button>
        </div>
        <div flex>
          <md-button flex class="md-raised class-button lobby-icon-soldier">
            <a href="#" class="lobby-icon-join-blue lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
            <a href="#" class="lobby-icon-join-red lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
          </md-button>
        </div>
        <div flex>
          <md-button flex class="md-raised class-button lobby-icon-pyro">
            <a href="#" class="lobby-icon-join-blue lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
            <a href="#" class="lobby-icon-join-red lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
          </md-button>
        </div>
        <div flex>
          <md-button flex class="md-raised class-button lobby-icon-demoman">
            <a href="#" class="lobby-icon-join-blue lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
            <a href="#" class="lobby-icon-join-red lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
          </md-button>
        </div>
        <div flex>
          <md-button flex class="md-raised class-button lobby-icon-heavy">
            <a href="#" class="lobby-icon-join-blue lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
            <a href="#" class="lobby-icon-join-red lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
          </md-button>
        </div>
        <div flex>
          <md-button flex class="md-raised class-button lobby-icon-engineer">
            <a href="#" class="lobby-icon-join-blue lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
            <a href="#" class="lobby-icon-join-red lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
          </md-button>
        </div>
        <div flex>
          <md-button flex class="md-raised class-button lobby-icon-medic">
            <a href="#" class="lobby-icon-join-blue lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
            <a href="#" class="lobby-icon-join-red lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
          </md-button>
        </div>
        <div flex>
          <md-button flex class="md-raised class-button lobby-icon-sniper">
            <a href="#" class="lobby-icon-join-blue lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
            <a href="#" class="lobby-icon-join-red lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
          </md-button>
        </div>
        <div flex>
          <md-button flex class="md-raised class-button lobby-icon-spy">
            <a href="#" class="lobby-icon-join-blue lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
            <a href="#" class="lobby-icon-join-red lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
          </md-button>
        </div>
      </div>
      <div class="lobby-players">
          <span>18</span>/12
      </div>
      <div class="lobby-info">
        <span flex class="lobby-mumble">
          <i class="fa fa-microphone-slash"></i>
        </span>
        <span flex class="lobby-location">

        </span>
      </div>
    </div>
  </md-card>
</section>