<div class="medium-8 columns" id="content-main">
  <div class="alert-box text-center">
    Sub required for pl_process!
  </div>
  <section id="lobby-list">
    <h2>HELLO!</h2>
  </section>
</div>
<div class="medium-4 columns" id="chat">
  <ul>
    <li>
      <span>Gamer5000:</span>
      Ok, I'll play medic!
    </li>
    <li>
      <span>Loveclop:</span>
      LF Prem Team
    </li>
    <li>
      <span>Lorem:</span>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </li>
  </ul>
  <textarea></textarea>
</div>