<div class="medium-8 columns" id="content-main">
  <div class="alert-box text-center">
    Sub required for pl_process!
  </div>
  <section id="lobby-list">
    <div class="row lobby">
      <div class="medium-3 columns lobby-image">
        <span class="lobby-type">highlander</span>
        <span class="lobby-map">cp_process</span>
      </div>
      <div class="medium-9 columns lobby-info left">
        <ul class="lobby-classes">
          <li class="class-button lobby-icon-scout">
            <a href="#" class="lobby-icon-join-blue lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
            <a href="#" class="lobby-icon-join-red lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
          </li>
          <li class="class-button lobby-icon-soldier">
            <a href="#" class="lobby-icon-join-blue lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
            <a href="#" class="lobby-icon-join-red lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
          </li>
          <li class="class-button lobby-icon-pyro">
            <a href="#" class="lobby-icon-join-red lobby-icon-join">
              <span></span>
            </a>
          </li>
          <li class="class-button lobby-icon-demoman">
            <a href="#" class="lobby-icon-join-blue lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
            <a href="#" class="lobby-icon-join-red lobby-icon-join lobby-icon-join-half">
              <span></span>
            </a>
          </li>
          <li class="class-button lobby-icon-heavy">            
            <a href="#" class="lobby-icon-join-blue lobby-icon-join">
              <span></span>
            </a>
          </li>
          <li class="class-button lobby-icon-engineer">        
            <a href="#" class="lobby-icon-join-blue lobby-icon-join">
              <span></span>
            </a>
          </li>
          <li class="class-button lobby-icon-medic">        
            <a href="#" class="lobby-icon-join-blue lobby-icon-join">
              <span></span>
            </a>
          </li>
          <li class="class-button lobby-icon-sniper">        
            <a href="#" class="lobby-icon-join-blue lobby-icon-join">
              <span></span>
            </a>
          </li>
          <li class="class-button lobby-icon-spy">        
            <a href="#" class="lobby-icon-join-blue lobby-icon-join">
              <span></span>
            </a>
          </li>
        </ul>
        <div class="lobby-state">
          <span class="lobby-players">
            <span>7</span>/12
          </span>
          <span class="lobby-mumble lobby-mumble-not-required"><i class="fa fa-microphone-slash"></i>
          </span>
          <span class="lobby-friends">
            NA <i class="fa fa-globe"></i>
          </span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row lobby">
      <div class="medium-3 columns lobby-image">
        <span class="lobby-type">highlander</span>
        <span class="lobby-map">cp_process</span>
      </div>
      <div class="medium-9 columns lobby-info left">
        <ul class="lobby-classes">
          <li class="class-button lobby-icon-scout"></li>
          <li class="class-button lobby-icon-soldier"></li>
          <li class="class-button lobby-icon-pyro"></li>
          <li class="class-button lobby-icon-demoman"></li>
          <li class="class-button lobby-icon-heavy"></li>
          <li class="class-button lobby-icon-engineer"></li>
          <li class="class-button lobby-icon-medic"></li>
          <li class="class-button lobby-icon-sniper"></li>
          <li class="class-button lobby-icon-spy"></li>
        </ul>
        <div class="lobby-state">
          <span class="lobby-players">
            <span>7</span>/12
          </span>
          <span class="lobby-mumble"><i class="fa fa-microphone"></i>
          </span>
          <span class="lobby-friends">
            NA <i class="fa fa-globe"></i>
          </span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
</div>
<div class="medium-4 columns" id="chat">
  <ul>
    <li>
      <span>Gamer5000:</span>
      Ok, I'll play medic!
    </li>
    <li>
      <span>Loveclop:</span>
      LF Prem Team
    </li>
    <li>
      <span>Lorem:</span>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </li>
  </ul>
  <textarea></textarea>
</div>