<div ng-if="userProfile.loadingError"
     class="profile-loading-error">
  <h1>Error loading profile</h1>
  <p>{{userProfile.error}}</p>
</div>

<div ng-if="!userProfile.loadingError">
  <div class="user-profile">
    <a href="{{userProfile.steamUrl}}"
       target="_blank"
       tabindex="0"
       ng-focus="hover_steam=true"
       ng-blur="hover_steam=false">
      <div class="avatar">
        <img alt="avatar"
             src="{{userProfile.profile.avatar.replace('.jpg', '_full.jpg')}}" />
        <div ng-class="{'focused': hover_steam}"></div>
      </div>
    </a>

    <a href="{{userProfile.steamUrl}}"
       target="_blank"
       class="player-name"
       ng-mouseover="hover_steam = true"
       ng-mouseout="hover_steam = false"
       ng-focus="hover_steam=true"
       ng-blur="hover_steam=false"
       tabindex="-1">
      <h1>
        <img class="badge"
             ng-if="userProfile.profile.role !== 'player'"
             src="/assets/img/badges/{{userProfile.profile.role}}.png">
        {{::userProfile.profile.name}}
      </h1>
    </a>
    <p class="player-details">
      TF2 Hours: {{::userProfile.profile.gameHours}}
      <br />
      Playing TF2Stadium since: February 10, 2010
      <br />
      <br />
      <a href="http://logs.tf/profile/{{::userProfile.steamId}}">
        <img class="logo"
             height="24"
             src="/assets/img/logos/logs.tf.png"
             alt="logs.tf Profile" />
      </a>
      <a href="http://www.ugcleague.com/players_page.cfm?player_id={{::userProfile.steamId}}">
        <img class="logo"
             height="24"
             src="/assets/img/logos/ugc.png"
             alt="United Gaming Clans Profile" />
      </a>
    </p>

    <div class="clearfix"></div>
  </div>
  <div class="lobbies-sheet">
    <h1 class="lobbies-played">{{userProfile.profile.stats.lobbiesPlayed}} Lobbies</h1>
    <h1 class="karma">
      <md-tooltip class="karma-tooltip" md-direction="bottom">
        <span class="karma-good">{{userProfile.profile.stats.substitutes}}</span> Subs
        -
        <span class="karma-bad">{{userProfile.profile.stats.leaves}}</span> Leaves
      </md-tooltip>
      Karma:
      <span class="karma-good">
        {{userProfile.profile.stats.substitutes - userProfile.profile.stats.leaves}}
      </span>
    </h1>
    <div class="clearfix"></div>

    <ul class="lobby-types">
      <li ng-repeat="lobbyType in userProfile.profile.lobbyTypes">
        <span class="count">{{lobbyType.cnt}}</span>
        <span class="format">{{lobbyType.abbr}}</span>
      </li>
    </ul>

    <ul class="class-types">
      <li ng-repeat="klass in userProfile.profile.classes">
        <span class="count">{{klass.cnt}}</span>
        <img class="icon"
             alt="{{klass.name}}"
             src="/assets/img/class/class-icon-{{klass.name}}.svg" />
      </li>
    </ul>

    <h1>Recent Lobbies</h1>
    <p class="no-recent-lobbies"
       ng-if="!userProfile.profile.lobbies || userProfile.profile.lobbies.length === 0">
      No lobbies played!
    </p>
    <div class="recent-lobbies"
         ng-if="userProfile.profile.lobbies && userProfile.profile.lobbies.length > 0">
      <a md-ink-ripple
         ng-repeat="lobbyInformation in userProfile.profile.lobbies track by lobbyInformation.id"
         class="lobby-row"
         ui-sref="lobby-page({lobbyID: lobbyInformation.id})">
        <div class="lobby-image"
             ng-style="{'background-image':'url(/assets/img/maps/lobby-row/' + lobbyInformation.map + '.jpg)'}">
          <span class="lobby-type">{{::lobbyInformation.type}}</span>
          <span class="lobby-map">{{::lobbyInformation.map}}</span>
        </div>
        <div flex class="lobby-main">
          <div flex class="lobby-classes">
            <div ng-repeat="class in lobbyInformation.classes track by $index"
                 class="flex-max-margin">
              <div class="class-button no-animate lobby-icon-{{::class.class | stripSlotNameNumber}}"
                   ng-class="{'sheet' : !class.blu.filled || !class.red.filled}">
                <md-button ng-repeat="(team, slot) in {blu: class.blu, red: class.red} track by team"
                           ng-if="!slot.filled"
                           ng-class="['join-slot', team]"
                           ng-click="lobbyList.join(lobbyInformation.id, team, class.class, $event)">
                  <md-tooltip md-direction="bottom">
                    Join {{::team}} {{::class.class | stripSlotNameNumber}} slot
                  </md-tooltip>
                  <span></span>
                </md-button>
              </div>
            </div>
          </div>
          <div class="lobby-info">
            <div class="lobby-info-row top">
              <div class="lobby-mumble" ng-class="{'not-required': !lobbyInformation.mumbleRequired}">
                <md-tooltip md-direction="top">
                  Mumble {{!lobbyInformation.mumbleRequired? 'not ':''}}mandatory
                </md-tooltip>
              </div>
            </div>
            <div class="lobby-info-row">
              <span>
                {{::lobbyInformation.region.code}}
                <md-tooltip md-direction="bottom">
                  Server located in {{::lobbyInformation.region.name}}
                </md-tooltip>
              </span>
            </div>
            <div class="lobby-info-row">
              <span class="lobby-league">
                {{::lobbyInformation.league}}
                <md-tooltip md-direction="bottom">
                  {{::lobbyInformation.league | uppercase}} rules and whitelist
                </md-tooltip>
              </span>
            </div>
          </div>
        </div>
      </a>
<!--  <div class="lobby-summary" ng-repeat="lobby in userProfile.profile.lobbies"></div> -->
    </div>
  </div>
</div>
