#wizard {
  margin: $padding-medium 0;
}

md-grid-tile.tile-card {
  @extend .md-whiteframe-z2;
  cursor: pointer;
  overflow: hidden;
  transition: background-color .2s ease-out;

  &:hover {
    background-color: #f5f5f5 !important;

    .tile-text {
      transform: translateY(0);
    }

    .tile-image ~ .tile-text {
      color: #9cf;
    }

    .tile-image:after {
      transform: scale(1.5);
    }
  }
}

.tile-card-mumble .tile-text {
  padding: $padding-big;
}

.tile-image {
  @include flex(row, center, center);
  @extend .fill-parent;
  transition: all .1s ease-out;
  background: {
    size: cover;
    position: 50% 20%;
    repeat: no-repeat;
  }

  &:before {
    @extend .fill-parent;
    content: "";
    background: #000;
    opacity: .15;
  }

  &:after {
    content:"";
    width: 100%;
    padding-bottom: 100%; //makes the height equal to the width
    background: #fff;
    border-radius: 50%;
    transition: all .2s ease-out;
    transform-origin: 50% 50%;
    transform: scale(.001);
  }

  & ~ .tile-text {
    transform: translateY(calc(50% - 30px));
    color: #fff;
  }
}

.tile-text {
  @include flex(column, center, center);
  @extend .fill-parent;
  text-align: center;
  transition: all .2s ease-out;

  .title {
    font-family: montserrat;
    font-weight: bold;
    font-size: 20px;    
  }
}