#wizard {
  margin: $padding-medium 0;
}

md-grid-tile {
  position: relative;
  cursor: pointer;

  &.card-format:hover {

    background: #f5f5f5;

    .tile-description {
      transform: translateY(0);
    }

    .image ~ .tile-description {
      color: #9cf;
    }

    .circle:after {
      transform: scale(1.5);
    }
  }

  .image {
    @extend .fill-parent;
    transition: all .1s ease-out;
    background: {
      size: cover;
      position: 50% 20%;
      repeat: no-repeat;
    }

    &:after {
      @extend .fill-parent;
      content: "";
      background: #000;
      opacity: .15;
    }
  }

  .image ~ .tile-description {
    transform: translateY(calc(50% - 30px));
    color: #fff;
  }

  .image ~ .circle {
    opacity: 1;
  }
}

.circle {
  @extend .fill-parent;
  @include flex(row, center, center);
  opacity: 0; //gets overridden by .image~circle

  &:after {
    content:"";
    width: 100%;
    padding-bottom: 100%; //makes the height equal to the width
    background: #fff;
    border-radius: 50%;
    transition: all .2s ease-out;
    transform-origin: 50% 50%;
    transform: scale(.001);
  }
}


/*======================================
                FORMATS
 =======================================*/

.card-format {
  @extend .md-whiteframe-z2;
  overflow: hidden;
}

.tile-description {
  @include flex(column, center, center);
  @extend .fill-parent;
  font-family: montserrat;
  font-weight: bold;
  font-size: 20px;
  transition: all .2s ease-out;
}