/*======================================
                HEADER
 =======================================*/

.lobbycreate-text {
  @include flex (row, space-between, flex-end);
  flex-wrap: wrap;
  z-index: 1;
  padding: 0 $padding-medium $padding-medium;
  height: 100%;

  span {
    float: left; //gets rid of whitespace
  }

  .left, .right {
    @include flex (column, space-between, stretch);
    width: 50%;
  }

  .right {
    text-align: right;
  }  

  .row {
    width: 100%;
    @include flex (row, space-between, center);
  }
}


/*======================================
                SIDEBAR
 =======================================*/

.sidebar-link.already-filled span {
  @include flex(row, space-between, center);
  height: 100%;

  &:after {
    content: '';
    display: inline-block;
    margin-left: auto;
    width: 20px;
    height: 20px;
    background: {
      image: url(/assets/img/icon-check.svg);
      size: cover;
    };
  }
}


/*======================================
              GENERAL STEPS
 =======================================*/

#wizard {
  margin: $padding-medium 0;
}

.search-filter {
  @extend .sheet;
  @extend .fade-in-top;
  width: 100%;
  padding: $padding-small $padding-medium;
  z-index: 1;

  md-input-container {
    display: block;
    margin: 0;

    input {
      border-style: hidden;      
    }
  }

  &.ng-leave {
    @extend .fade-out-top;
  }
}

md-grid-tile.tile-card {
  @extend .sheet, .clickable;
  cursor: pointer;
  overflow: hidden;
  transition: background-color .2s ease-out,
              box-shadow .2s ease-out,
              //now for the repositioning animations
              left .3s cubic-bezier(0.215, 0.61, 0.355, 1),
              margin-top .3s cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover {

    .tile-text {
      transform: translateY(0);
    }

    .tile-image:after {
      transform: scale(1.5);
    }
  }

  h2 {
    margin: 0;
  }

  .tile-text {
    padding: $padding-small $padding-medium;

    & > * {
      max-width: 350px;
    }
  }

  &.ng-leave {
    @extend .scale-out;
  }
}

.tile-card-mumble .tile-text {
  padding: $padding-small $padding-medium;

  img {
    max-height: 50px;
    margin: $padding-medium;
  }
}

.tile-image {
  @include flex(row, center, center);
  @extend .fill-parent;
  transition: all .1s ease-out;
  background: {
    size: cover;
    position: 50% 20%;
    repeat: no-repeat;
  }

  &:before {
    @extend .fill-parent;
    content: "";
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, .6) 0%,
        rgba(0, 0, 0, .2) 80px
    );
  }

  &:after {
    content:"";
    width: 100%;
    padding-bottom: 100%; //makes the height equal to the width
    border-radius: 50%;
    transition: all .2s ease-out;
    transform-origin: 50% 50%;
    transform: scale(.001);
  }

  & ~ .tile-text {
    transform: translateY(calc(50% - 30px));
    color: #fff;
  }
}

.tile-text {
  @include flex(column, center, center);
  @extend .fill-parent;
  text-align: center;
  transition: all .2s ease-out;
}


/*======================================
              SERVER STEP
 =======================================*/

.tile-form {
   @include flex(column, flex-start, stretch);
   @extend .fade-in-top;
   position: relative;
}

.server-form {
  @include flex(column, center, center);
  @extend .sheet;
  padding: $padding-medium $padding-big * 2;
  z-index: 1;

  md-input-container {
    width: 100%;
    margin-top: 0;
  }

  input {
    text-align: center;
  }

  md-checkbox {
    margin-top: 0;    
  }
}

.server-verify-message {
  @include flex(column, center, center);
  @extend .sheet;
  padding: $padding-medium;

  img {
    height: 100px;
    width: 100px;
  }

  span {
    padding: $padding-small;
  }

  &.ng-enter {
    transition: all .2s .2s ease-out;
  }

  &.ng-leave {
    transition: all .2s ease-out;
  }

  &.ng-animate {
    position: absolute;
    right: 0;
    left: 0;
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    transform: translateY(-100%);
    opacity: 0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    transform: translateY(0);
    opacity: 1;
  }
}