$maps: (cp_process_final cp_badlands pl_upward); 


//This might not be needed anymore, but I'm keeping it for the moment
@each $map in $maps {
  .background-4k-#{$map} {
    background-image:url(../assets/img/maps/#{$map}-4k.jpeg);
  }
  
  .background-large-#{$map} {
    background-image:url(../assets/img/maps/#{$map}-large.jpeg);
  }
  
  .background-small-#{$map} {
    background-image:url(../assets/img/maps/#{$map}-small.jpeg);
  }
}