/* ==================================
                GLOBAL
   ================================== */

@import url(http://fonts.googleapis.com/css?family=Lato|Bitter|Montserrat|Slabo+27px|Oswald|Raleway|Source+Sans+Pro|PT+Sans|ubuntu|Open+sans);

@font-face {
    font-family: Norwester;
    src: url(/assets/fonts/norwester.otf);
}

html { 
  font-family: $font-family-text;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  font-weight: normal;
}

#header-title > span {
  font-family: Norwester;
  color: $main-color;
  font-size: 36px;
  
  &:nth-child(3) {
    color: $secondary-color;
  }
}

.chat-player-name {
  line-height: 1.6;
  text-transform: none;
  font-size: 1em;
  font-weight: bold;
  color: $grey-hard;
}

#chat li {
  line-height: 1.6;
  color: $grey-light;
  font-size: 0.8em;
}

.lobby-image {
  font-size: .9rem;
}


/* ==================================
            LOBBY LIST
   ================================== */

.lobby-row {
  color: $grey-medium;
}

.lobby-info-players {
  color: $grey-hard;
}

.lobby-info-maxplayers {
  font-size: .8em;
  color: $grey-light;
} 

.lobby-info-row {
  line-height: $lobby-info-height/2;

  &.top {
    font-size: 1.5em; 
    font-family: 'Oswald';
  }
}


/* ==================================
            LOBBY PAGE
   ================================== */

.lobbypage-text {
  color: #fff;
}

.lobbypage-map {
  font-size: 4rem;
}

.slot-button {
  font-size: 11px;
  text-transform: none;
}