#chat {
  
  //Setting for the chat scrollbar
  
  md-tab-content::-webkit-scrollbar {
    width: 4px !important;
  }
  
  md-tab-content::-webkit-scrollbar-track {
    background-color: #eee !important;
  }
  
  md-tab-content::-webkit-scrollbar-thumb {
    background-color: #ccc !important;
  }
  
  .chat-tabs {
    margin-bottom: 10px;
  }
  
  md-tabs-content-wrapper {
    //not pretty to overwrite a directive :(
    margin-top: 20px;
    margin-right: 5px;
  }
  
  .player-name {
    min-width: 0;
    min-height: 18px;
    margin: 0 0 0 -20px;
    line-height: 18px;
    text-transform: none;
    font-size: 1em;
    
    span {
      font-weight: bold;
      color: #5c5c5c;
    }
  }

  ul {
    padding:0px 5px 0 20px;
    margin:0;
    list-style: none;

    > li {
      padding: 3px 0;
      line-height: 18px;
      color: #aaaaaa;
      font-size: 0.8em;
    }
  }
}