#chat {
  md-tab-content {
    @include scrollbars;
  }
  
  .chat-tabs {
    margin-bottom: 5px;
  }
  
  md-tabs-content-wrapper {
    //not pretty to overwrite a directive :(
    margin-top: 20px;
    margin-right: 5px;
  }
  
  .player-name {
    min-width: 0;
    min-height: $line-height-commentbox;
    margin: 0 0 0 -20px;
    line-height: 1.5;
    text-transform: none;
    font-size: 1em;
    
    span {
      font-weight: bold;
      color: #5c5c5c;
    }
  }

  ul {
    padding:0px 5px 0 20px;
    margin:0;
    list-style: none;

    li {
      padding: 3px 0;
      line-height: 1.6;
      color: #aaaaaa;
      font-size: 0.8em;
    }
  }
}