#chat {
  @extend .sheet;

  md-tab-content > div {
    height: 100%;
  }

  md-content {
    @include scrollbars;
    height: 100%;
    padding: 0 15px;
  }

  md-tabs-content-wrapper {
    margin-top: $padding-medium;
  }

  ul {
    padding: 0 $padding-small 0;
    margin: 0;
    list-style: none;
  }

  li {
    padding: 3px 0;
  }
}

.chat-message-time {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  vertical-align: top;
  margin: 0 18px 0 -15px;
}

.chat-message-text {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  vertical-align: top;
  word-wrap: break-word;
}

.chat-tabs {
  margin-bottom: $padding-small;
}

.chat-player-name {
  min-width: 0;
  min-height: $commentbox-lineheight;
  margin: 0 3px 0 -15px;
  padding: 0;
}