<!doctype html>
<html ng-app="tf2stadium">
  <head>
    <meta charset="utf-8">
    <title ng-bind-template="{{$root.titleNotification ? '(!)' : ''}} TF2Stadium">TF2Stadium</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1200">
    <link rel="icon" href="/assets/img/favicon.ico">
    <base href="/">
    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->

  </head>
  <body class="{{$root.currentTheme || 'default-theme'}} {{$root.animationLength || 'animation-normal'}}">
    <!-- Splash screen style goes here to ensure it loads as fast as possible -->
    <div id="splash-screen" style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      will-change: transform;
      transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1);
      background: #9cf;"
      ng-hide="$root.themeLoaded && $root.backendAuthenticated">
      <img src="/assets/img/logo-alpha.svg">
      <noscript style="max-width: 600px;
                  font-size: 20px;
                  min-height: 2em;
                  text-align: center;
                  color: #f5f5f5;
                  padding-top: 20px;">
        TF2Stadium requires JavaScript to be enabled.
        <a href="http://www.enable-javascript.com/"
          style="display:block;
                padding-top:10px;
                font-size: 20px;">
          Click here to learn how
        </a>
      </noscript>
      <div id="loading-quote"
           style="max-width: 600px;
                  font-size: 25px;
                  min-height: 2em;
                  text-align: center;
                  color: #f5f5f5;
                  padding-bottom: 20px;
                  font-style: italic">
        <script type="text/javascript">
            //Inlined script so it shows as soon as possible
            var quotes = [
              '"r.e.m wouldn\'t MGE capu because he\'s scared" -vibhavp',
              '"All disputes must be settled via MGE" -Rand',
              '"I am become R.E.M, destroyer of memes." -vibhavp',
              '\'"C++ is dead. PHP is dead. Ruby is dead. Python is neither Haskell or NodeJS and is therefore dead." - Dennis "Sublime Text" Ritchie.\' -vibhavp',
              '"teamplay.tf was a much better name" -Rand',
              '"u wot m8 this is tf2stadium" -vibhavp',
              '"Friday is hatday" -Rand',
              '"Spycrabbing is a viable way of settling arguments" -Rand',
              '"I think Helen is dead" -Capu',
              '"It has to be the backend" -Capu',
              '"Pretty sure it\'s the backend" -Capu',
              '"It\'s probably the backend" -Capu',
              '"After 8 years in development, I hope it was worth the wait" -kevinispwn'
            ];
            var i = Math.floor(Math.random()*quotes.length);
            document.write(quotes[i]);
        </script>
      </div>
      <div style="height:0">
        <md-button class="md-raised"
                   aria-label="Login"
                   ng-href="{{::config.endpoints.api}}/startLogin"
                   style="display:none"
                   ng-class="{'visible' : $root.themeLoaded && !$root.backendAuthenticated}"
                   ng-bind="'Login'">
        </md-button>
      </div>
    </div>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <aside id="toasts"></aside>

    <header id="header" ng-if="$root.backendAuthenticated">
      <md-toolbar id="header-toolbar">
        <div class="header-toolbar-content">
          <md-button ui-sref="lobby-list" id="header-title" aria-label="Go to index">
            <img src="/assets/img/logo-inline.svg">
          </md-button>
          <div flex></div>
          <div class="toolbar-buttons">
            <md-button ng-if="$root.currentState!=='lobby-list'"
              ui-sref="lobby-list">
              Home
            </md-button>
            <md-button ui-sref="about">
              About
            </md-button>
            <md-button ui-sref="rules">
              Rules
            </md-button>
            <md-button ng-if="$root.userProfile.steamid" ui-sref="settings">
              <img src="/assets/img/settings.svg">
              {{$root.userProfile.name}}
              <img ng-src="{{::$root.userProfile.avatar}}">
            </md-button>
            <md-button ng-if="!$root.userProfile.steamid"
              ng-href="{{config.endpoints.api}}/startLogin"
              class="steam-login">
              Login
            </md-button>
          </div>
        </div>
      </md-toolbar>
      <div id="current-lobby-info" ng-controller="CurrentLobbyController as vm">
        <div class="current-lobby" ng-if="vm.visible">
          <span>Your lobby has</span>
          <span>{{vm.lobbyInformation.players}}/{{vm.lobbyInformation.maxPlayers}} players</span>
          <md-button ui-sref="lobby-page({lobbyID: vm.lobbyInformation.id})">Go back</md-button>
        </div>
      </div>
      <div ui-view="headerInfo" class="header-info"></div>
    </header>
    <aside id="commentbox" ng-include="'app/shared/comment-box/comment-box.html'" ng-if="$root.backendAuthenticated"></aside>
    <div id="fab" ng-if="$root.backendAuthenticated">
      <md-button ui-sref="lobby-create" class="md-fab md-primary" aria-label="create a lobby">
        <md-icon md-svg-icon="/assets/img/icon-add.svg"></md-icon>
      </md-button>
    </div>
    <main flex ng-if="$root.backendAuthenticated">
      <div flex id="page-content">
        <div ui-view="leftSidebar" id="left-sidebar"></div>
        <md-content flex ui-view="content" id="main-content"></md-content>
      </div>
    </main>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
