.header-image {
  @include flex (column, center, center);
  width: 100%;
  height: 100%;
  background: {
    size: cover;
    position: center;
  }
}

.lobbypage-text {
  @include flex (row, space-between, center);
  flex-wrap: wrap;
  z-index: 1;
  padding: 0 $padding-medium;
  height: 100%;

  span {
    float: left; //gets rid of whitespace
  }

  .left, .right {
    @include flex (column, space-between, stretch);
    width: 50%;
  }

  .right {
    text-align: right;
  }

  .row {
    width: 100%;
    @include flex (row, space-between, center);
  }
}

md-icon.big {
  height: 60px;
  width: 60px;
  margin: 0;
}

.lobbypage-map {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lobbypage-lobby-controls {
  @include flex (column, space-between, stretch);

  .md-button {
    margin-right: 0;
    padding: 0 $padding-small;
  }
}

.lobbypage-lobby-closed {
  padding: $padding-small/2 $padding-small;
  margin: 0 auto 0 $padding-small;
  border-radius: 3px;
}

.lobby-page-content {
  @include flex (row, flex-start, flex-start);
}

#lobby-join-information {

  .row {
    @include flex(row, center, center);
    text-align: center;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      margin: $padding-small 0;
    }
  }
}

#slots {
}

#spectators {
  width: $left-sidebar-width;
  //Substract 5px to the margin-right to compensate for the
  //padding-left 5px in #main-content due to shadow
  margin: $padding-medium $padding-medium - 5px 0 0;
  padding: 0;
}

.spectators-title {
  margin: $padding-small 0;
}

.classes-title {
  @include flex (row, center, stretch);

  h1 {
    margin: $padding-small $class-button-width/2 + $padding-medium;
  }
}

.class-row {
  @include flex (row, space-between, stretch);
  height: $class-button-height;
  margin: 0 0 $padding-small 0;

  &:first-child {
    margin-top: $padding-medium;
  }

  //Nesting required
  .class-button {
    margin: 0 $padding-small;
  }
}

.slot-password {
  flex: 1;
  @include flex(column, center, center);
  height: 200%;
  padding: 0 $padding-medium;
}

.slot-button {
  @include flex (row, space-between, center);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  flex: 1;
  position: relative;
  line-height: normal !important; //otherwise can't multiline inside md-button
  border-radius: 3px; //overriding .class-button .md-button
  transition: all .3s ease-out;
  overflow: hidden;

  &:focus .slot-password {
    display: block;
  }

  &:nth-child(2) {
    flex-direction: row-reverse;
    order: 3;

    .firefox-bug-container {
      flex-direction: row-reverse;
    }

    .slot-info {
      align-items: flex-start;
    }

    .slot-misc {
      flex-direction: row-reverse;
      text-align: right;
    }

    .slot-playername {
      text-align: left;
    }
  }

  md-checkbox {
    margin: 0 auto;
    width: 18px;
    padding: 5px 0 5px;

    &.no-click {
      cursor: auto;
    }

    div.md-container {
      width: 18px;
      height: 18px;

      // Fix the checkbox having an oversized click-hitbox
      &:after {
        pointer-events: none;
      }

      .md-icon {
        width: 18px;
        height: 18px;
      }
    }
  }

  &:not(.sheet) > .md-ripple-container {
    display: none;
  }
}

.md-button.more-button {
  min-width: 0;
  min-height: 0;
  height: 0;
  width: 24px;
  padding-top: 100%;
  display: block;
  margin: 0;

  img {
    @extend .fill-parent;
  }
}

.firefox-bug-container {
  @include flex (row, space-between, center);
}

.slot-info {
  @include flex (column, center, stretch);
  height: 100%;
  margin: 0 $padding-small;
  min-width: 0;
}

.slot-playername {
  max-width: 100%;
  text-align: right;
  white-space: nowrap;
}

.slot-avatar {
  width: auto;
  height: 100%;
  border-radius: 3px;
}

.slot-misc {
  @include flex (row, flex-end, center);
  height: 26px;
  width: 100%;

  span {
    height: 26px;
    line-height: 26px;

    &:nth-child(even) {
      margin-left: 3px;
    }
  }

  & > div {
    padding: 0 5px;

    &:first-child,
    &:last-child {
      padding: 0;
    }
  }
}

md-menu.slot-menu {
  padding: 0;
  margin: 0;

  span {
    text-transform: none;
  }
}

.leave-slot {
  min-width: 0;
  min-height: 0;
  width: 18px;
  height: 18px;
  display: block;
  padding: 0;
  margin: 0;

  md-icon {
    padding: 0;
    margin: 0;

    width: 18px;
    height: 18px;

    @extend .fill-parent;

    svg {
      fill: #666;
    }
  }
}