<md-grid-tile md-ink-ripple class="tile-card"
  md-colspan="12" md-rowspan="2"
  ng-repeat="league in lobbyCreate.leagues.options | LobbyCreateOptionFilter:'leagues':lobbyCreate.searchString"
  ng-click="lobbyCreate.select(lobbyCreate.leagues, league)"
  ng-class="{'no-animate': lobbyCreate.searchString===null, 'selected': lobbyCreate.isSelected(lobbyCreate.leagues, league)}">
  <div class="tile-text">
    <h2>{{::league.title}}</h2>
    <span>{{::league.description}}</span>
  </div>
</md-grid-tile>