<md-grid-tile md-ink-ripple class="tile-card tile-card-mumble"
  md-colspan="6"  md-rowspan="4"
  ng-repeat="option in lobbyCreate.mumble.options"
  ng-click="lobbyCreate.select(lobbyCreate.mumble, option)"
  ng-class="{'no-animate': !lobbyCreate.searchString, 'selected': lobbyCreate.isSelected(lobbyCreate.mumble, option)}"
  ng-style="{'animation-delay': 0.03 * ($index+1) + 's'}">
  <div class="circle"></div>
  <div class="tile-text">
  	<img ng-src="{{option.value ? '/assets/img/mumble.svg' : '/assets/img/not-mumble.svg'}}">
    <span class="title">{{::option.title}}</span>
    <span>{{::option.description}}</span>
  </div>
</md-grid-tile>