<div class="restrictions-form configurations-form">
  <p>
    Choose a previous lobby type, or
    <md-button
       class="md-raised md-primary"
       ng-click="lobbyCreate.select(lobbyCreate.saved, true)">
      Continue
    </md-button>
  </p>
  <h2 ng-if="lobbyCreate.hasSavedConfigurations">Saved Configurations</h2>
  <h2 ng-if="lobbyCreate.hasRecentConfigurations">Recent Configurations</h2>
  <ul>
    <li ng-repeat="config in lobbyCreate.recentConfigurations">
      <div md-ink-ripple
           class="lobby-row"
           ng-click="lobbyCreate.loadSettings(config)">
        <div class="lobby-image"
             ng-style="{'background-image':'url(/assets/img/maps/lobby-row/' + config.map + '.jpg)'}">
          <span class="lobby-type">{{::config.type}}</span>
          <span class="lobby-map">{{::config.map}}</span>
        </div>
        <div flex class="lobby-main">
          <div class="config-col">
            <md-icon
              md-svg-icon="logo:{{!config.mumbleRequired? 'not-':''}}mumble"
              aria-label="Mumble {{!config.mumbleRequired? 'not ':''}} Required">
              <md-tooltip>
                Mumble {{!config.mumbleRequired? 'not ':''}}mandatory
              </md-tooltip>
            </md-icon>
            <span class="lobby-league">
              <span>{{::config.league | uppercase}}<md-tooltip>
                  League: {{::config.league | uppercase}}
              </md-tooltip></span><br /><span ng-click="$event.stopPropagation();">
                <md-tooltip>Whitelist ID: {{::config.whitelistID}}</md-tooltip>
                <whitelist id="config.whitelistID" />
              </span>
            </span>
          </div>
          <span class="lobby-league">
            <span ng-if="config.requirements && config.requirements.general && config.requirements.general.hours">{{config.requirements.general.hours}}+&nbsp;Hours</span>
            <br />
            <span ng-if="config.requirements && config.requirements.general && config.requirements.general.lobbies">
              {{config.requirements.general.lobbies}}+&nbsp;Lobbies
            </span>
          </span>
          <span class="lobby-league lobby-group-restrictions">
            <span ng-if="config.steamGroupWhitelist">
              <md-icon md-svg-icon="logo:steam"></md-icon>
              <md-tooltip>{{::config.steamGroupWhitelist}}</md-tooltip>
            </span>
            <span ng-if="config.twitchWhitelistSubs || config.twitchWhitelistFollows">
              <img width="25" height="25"
                   src="/assets/img/logos/twitch-glitch.png"
                   alt="twitch"/>
              <md-tooltip>{{config.twitchWhitelistSubs ? 'Subscriber-only' :
               (config.twitchWhitelistFollows ? 'Follower-only' : '')}}</md-tooltip>
            </span>
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>
