<div class="restrictions-form">
  <h2>Lobby restrictions</h2>

  <p>
    All fields are optional.
    <md-button
       class="md-raised md-primary"
       ng-click="lobbyCreate.select(lobbyCreate.restrictions, true)">
      Continue
    </md-button>
  </p>

  <md-input-container>
    <input type="number"
           ng-model="lobbyCreate.lobbySettings.requirements.general.hours"
           min="0"
           step="100"
           placeholder="Minimum TF2 Hours">
  </md-input-container>

  <md-input-container>
    <input type="number"
           ng-model="lobbyCreate.lobbySettings.requirements.general.lobbies"
           min="0"
           step="10"
           placeholder="Minimum Played Lobbies">
  </md-input-container>

  <md-input-container>
    <input type="{{showPassword? 'text' : 'password'}}"
           ng-model="lobbyCreate.lobbySettings.password"
           placeholder="Slot Password">
  </md-input-container>
  <md-checkbox ng-model="showPassword">Show password</md-checkbox>

  <md-input-container>
    <input ng-model="lobbyCreate.lobbySettings.steamGroupWhitelist"
           placeholder="Steam Group URL (Only members can join)">
  </md-input-container>

  <md-checkbox
    type="md-checkbox"
    ng-if="$root.userProfile.twitchName"
    ng-model="lobbyCreate.lobbySettings.twitchWhitelistSubs">
    Restrict lobby to subscribers of my Twitch channel</md-checkbox>
  <md-checkbox
    type="md-checkbox"
    ng-if="$root.userProfile.twitchName"
    ng-model="lobbyCreate.lobbySettings.twitchWhitelistFollows">
    Restrict lobby to followers of my Twitch channel</md-checkbox>

  <md-button
     class="md-raised md-primary"
     ng-click="lobbyCreate.select(lobbyCreate.restrictions, true)">
    Continue
  </md-button>
</div>
