<div class="restrictions-form">
  <h2>Lobby restrictions</h2>
  <p>All fields are optional.</p>
  <md-input-container md-no-float>
    <input ng-model="lobbyCreate.lobbySettings.steamGroupWhitelist"
           placeholder="Steam group whitelist">
  </md-input-container>
  <md-input-container md-no-float
                      ng-show="!showPassword">
    <input type="password" ng-model="lobbyCreate.lobbySettings.password"
           placeholder="Password for slots">
  </md-input-container>
  <md-input-container md-no-float
                      ng-show="showPassword">
    <input type="text" ng-model="lobbyCreate.lobbySettings.password"
           placeholder="Password for slots">
  </md-input-container>
  <md-checkbox ng-model="showPassword">Show password</md-checkbox>
  <md-input-container md-no-float>
    <input type="number" ng-model="lobbyCreate.lobbySettings.requirements.general.hours"
      placeholder="Minimum hours required">
  </md-input-container>
  <md-input-container md-no-float>
    <input type="number" ng-model="lobbyCreate.lobbySettings.requirements.general.lobbies"
           placeholder="Minimum lobbies required">
  </md-input-container>
  <md-button
     class="md-raised md-primary"
     ng-click="lobbyCreate.select(lobbyCreate.restrictions, true)">Continue</md-button>
</div>
