<md-grid-tile
   md-ink-ripple
   bindonce
   class="tile-card"

   ng-repeat="format in lobbyCreate.formats.options | LobbyCreateOptionFilter:'formats':lobbyCreate.searchString | orderBy:'title'"
   ng-if="format.value!='debug' || $root.userProfile.role=='administrator'"

   ng-click="lobbyCreate.select(lobbyCreate.formats, format)"
   ng-mouseover="lobbyCreate.preloadMaps(format.value)"

   md-colspan="{{format.important ? 8 : 4}}"
   md-rowspan="{{format.important ? 4 : 2}}"

   ng-class="{'no-animate': lobbyCreate.searchString===null, 'selected': lobbyCreate.isSelected(lobbyCreate.formats, format)}">
  <div class="tile-image"
       bo-style="{'background-image': 'url(/assets/img/formats/' + format.value + '.jpg),
                 linear-gradient(
                 to top,
                 rgba(0, 0, 0, .2) 0%,
                 rgba(0, 0, 0, .6) 80px
                 )'}"></div>
  <div class="tile-text">
    <span class="title" bo-bind="format.title"></span>
  </div>
</md-grid-tile>
